{% extends 'base.html' %} {% load static %}{% load widget_tweaks %} {% load my_filter_range %} {% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <style>
  .additionalTxt{
  color: #C4C4C4;
  }
  .link{
  color: #47CCA6;
  }
  .strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  }
  .strike > span {
  position: relative;
  display: inline-block;
  }
  .strike > span:before,
  .strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #c6c6c6;
  }
  .strike > span:before {
  right: 100%;
  margin-right: 15px;
  }
  .strike > span:after {
  left: 100%;
  margin-left: 15px;
  }
  .imgCropProfile{
  width: 100px;
  height: 100px;
  overflow: hidden;
  position:  relative;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 40px;
  /*align-items: center;*/
  }
  
  .inImgProfile{
  position: absolute;
  width: 100px;
  height: 100px;
  object-fit: cover;
  }
  .imgCrop{
  width: 80%;
  height: 200px;
  overflow: hidden;
  position:  relative;
  }
  .inImg{
  position: absolute;
  width: 80%;
  height: 200px;
  object-fit: cover;
  }
  </style>
  <br>
  <!-- style="width: 100px;height: 100px" -->
  <div class="container  ">
    
    ผู้พิการ
    
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container uk-width-auto">
        <!-- <img src="../docs/images/light.jpg" alt="" uk-cover> -->
        <!-- <canvas width="600" height="400"></canvas> -->
        <!-- <div class="uk-width-auto" > -->
        <div class="imgCropProfile">
          <img src=" {% static "images/wcb.jpg" %}" class="inImgProfile" alt="">
        </div>
      </div>
      <div>
        <div class="uk-card-body">
          <h1 class="uk-margin-remove-bottom  ">Web Course Bangkok</h1>
          <!--   <h4>We give you skills to grow ideas</h4>
          <label for="">We give you skills to grow ideas</label> -->
          <p>We give you skills to grow ideas</p>
          {% if request.user|has_group:"company" %}
            <p>User belongs to my group </p>
            {% if status == "ยังไม่ส่งคำเชิญ" %}
              <a href="#confirm_job" class="uk-button uk-button-default btn-active " type="button" uk-toggle>เชิญเข้าร่วมงาน</a>

<!-- This is the modal -->
<div id="confirm_job" uk-modal >
    <div class="uk-modal-dialog uk-modal-body">
        <h2>คุณต้องการเชิญเข้าร่วมงาน {{job.title_th}} ใช่หรือไม่ </h2>
        <p>เมื่อตกลง ระบบจะส่งคำเชิญเข้าร่วมงานให้ผู้พิการทราบ หากต้องการยกเลิกคำเชิญ สามารถยกเลิกได้ที่หน้ารายการการเชิญ</p>
        <p class="uk-text-right">
            <a class="uk-button uk-button-default uk-modal-close" type="button">ยกเลิก</a>
            <a href="{% url "request_job" dis.id job.id %}" class="uk-button uk-button-primary" type="button">ตกลง</a>
        </p>
    </div>
</div>

              {% elif status == "ตอบรับคำเชิญ" %}
         
              <i class="fa fa-check" aria-hidden="true"></i>  ตอบรับคำเชิญงาน {{job}}
              {% elif status == "ส่งคำเชิญ" %}
              <button class="uk-button uk-button-default " type="button" disabled><i class="fa fa-check" aria-hidden="true"></i> ส่งคำเชิญแล้ว</button>

               {% elif status == "สมัครงาน" %}
                    <a href="{% url "confirm_job" dis.id job.id %}" class="uk-button uk-button-default btn-active " type="button"> ยืนยันการสมัครงาน</a>


            {% endif %}
          {% endif %}
        </div>
      </div>
      <br>
      <div class="  uk-margin-left uk-width-1-1@m">
        <h4 class="uk-margin-top uk-margin-bottom "><label for="">Email:</label> info@webcoursesbangkok.com</h4>
        <!-- <h2 class="uk-margin-remove-top">Company Details</h2> -->
        <h2 class="uk-heading-bullet uk-margin-remove-top ">รายละเอียดบริษัท </h2>
        <div class="uk-margin-left">
          <label for="">Web Courses Bangkok   <span>
            <p>      http://www.webcoursesbangkok.com</p>
            
          </span> </label>
          
          <div  class="uk-margin-bottom uk-margin-remove-top  " uk-grid>
            <div class="uk-width-auto@m">
              <p class=" uk-text-right"  > คำอธิบาย:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  > Web Courses was founded on the idea of improving the skills of others through practical applications based on exciting ideas. We help those who have a passion to grow their ideas and skills into something more. Our vision has always been to help, inspire and excite through creativity and experience.
                ​
                In early 2013 we became a fully accredited web/graphic design school here in Bangkok. This was a huge step for both us and Thailand and we hope to continue to bring an international standard of design.
                ​
              Three is a lucky number which is why we also have Web Jobs and our Design Agency.​</p>
            </div>
            
          </div>
          <p class=" "  > รูปภาพการทำงาน:</p>
          <div class="imgCrop uk-align-center">
            <img class="inImg " src="{% static "images/off.jpg" %}" alt="">
          </div>
          
        </div>
        <!-- end section -->
        <h2 class="uk-heading-bullet uk-margin-remove-top ">รายละเอียดงาน </h2>
        <div class="uk-margin-left">
          <p class="uk-margin-remove-bottom"><label for="">Position:</label> UX/UI Designer</p>
          
          <p class="uk-margin-remove-top"> <label for="">Disables type:</label> Physical</p>
          <div  class="   " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  > คำอธิบาย:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <ul >
                <li>Looking for a good UX/UI designer who can build wireframe at low-fidelities designs</li>
                <li>UX research, design and testing</li>
                <li>UI design in both Sketch and Photoshop</li>
                <li>Working hours 9 AM - 5 PM  Monday-Friday</li>
              </ul>
              <!--    <p class=" "  >Looking for a good UX/UI designer who can build wireframe at low-fidelities designs</p>
              <p>UX research, design and testing</p>
              <p>UI design in both Sketch and Photoshop</p>
              <p>Working hours 9 AM - 5 PM  Monday-Friday</p> -->
            </div>
            
          </div>
          <div  class="  " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  > ทักษะที่ต้องการ:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >Invision & Proto.io</p>
              
            </div>
            
          </div>
          <div  class="  " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  > เงินเดือน:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >12,000 บาท/เดือน</p>
              
            </div>
            
          </div>
          
          <div  class="" uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  > สวัสดิการ:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >Transportation 100 bath/day</p>
              
            </div>
            
          </div>
          <div  class="  " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  > The character of disabled people:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >We want extrovert personality and can work as a team.</p>
              
            </div>
            
          </div>
          <div  class="  " uk-grid>
            <div class="uk-width-1-2@m">
              <p class=" "  > Main requirements to be able to work (For those who are out of work, and would wish to work, the main perceived barriers are, in order of importance):</p>
              
            </div>
            <div class="uk-width-expand@m">
              <ul>
                <li>Flexible work arrangements (45%)</li>
                <li>Modified tasks (29%)</li>
                <li>Wage subsidy (24%)</li>
                <li>Transport/parking (17%)</li>
                <li>Accessible building (13%)</li>
                <li>Human support (7%)</li>
                <li>Assistive technology or physical adjustments (4%)</li>
              </ul>
              
              
            </div>
            
          </div>
        </div>
        <!-- end section -->
        <h2 class="uk-heading-bullet uk-margin-remove-top ">ติดต่อบริษัท </h2>
        <div class="uk-margin-left">
          <div  class="  " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  >เจ้าของบริษัท:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >Carl Daniel Heaton</p>
              
            </div>
            
          </div>
          <div  class="  " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  >ที่อยู่:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >Web Courses Bangkok Sathorn Training Centre Rama 4, Bangkok 10210</p>
              
            </div>
            
          </div>
          <div  class="  " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  >เบอร์โทรศัพท์:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >02-679-8607</p>
              
            </div>
            
          </div>
          <div  class="  " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  >Accessibilities:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >Take the MRT Lumpini Exit 1, walk 20 meters down Rama 4 and look for a gate, turn right and you'll find us.</p>
              
            </div>
            
          </div>
          <div  class="  " uk-grid>
            <div class="uk-width-1-6@m">
              <p class=" uk-text-right"  >  Opening Hours:</p>
              
            </div>
            <div class="uk-width-expand@m">
              <p class=" "  >9am - 6pm</p>
              
            </div>
            
          </div>
        </div>
        <!--end section  -->
        <br>
        <h2 class="uk-heading-bullet uk-margin-remove-top ">Accessibilities </h2>
        <div class="uk-margin-left">
          <!--   <label for="">Web Courses Bangkok   <span>
            <p>      http://www.webcoursesbangkok.com</p>
            
          </span> </label>
          -->
          
          <p class=" "  > Accessibilities from you location :</p>
          <div class=" uk-align-center uk-margin-remove-top">
            <img style="width: 100%;height: 100%" src="{% static "images/map.png" %}" alt="">
          </div>
          
        </div>
        <!--end section -->
        <button  class="uk-margin-top uk-margin-remove-bottom uk-button uk-width-1-1@s  uk-width-1-2@m uk-align-center  " style="color: white;">สมัครงาน </button>
      </div>
      
    </div>
  </div>
  <br>
  <!-- </div> -->
{% endblock %}
<!-- </div> -->
<!--
<div class="uk-card uk-card-default">
  <div class="uk-card-body uk-margin-remove">
    
    
    <div class="uk-child-width-1-1@s uk-child-width-1-2@m " uk-grid>
      <div class="uk-width-auto@m  ">
        <img class="imgCrop uk-align-center"  style="width: 80px;height: 80px" src="{% static "images/test.jpg" %}" alt="your image" />
        
      </div>
      <div class="uk-width-expand@m  ">
        <div  uk-grid>
          <div class="uk-width-1-2@m uk-width-1-2@s">
            <label for="">Web Courses Bangkok     <p>Position: </p></label>
          </div>
          <div class="uk-width-1-2@m uk-width-1-2@s ">
            <div class="uk-margin uk-align-right">
              <button  type="submit" class="uk-button uk-button-default  uk-button-small " >รายละเอียดเพิ่มเติม</button> <span> <button  type="submit" class="uk-button uk-button-default uk-button-small " >บันทึก</button></span>
            </div>
            
          </div>
        </div>
        
        
        <br>
        <span class="glyphicon glyphicon-eye-close uk-margin-right" aria-hidden="true"> </span><span class="uk-margin-right"> 8000 - 10,000 บาท/เดือน</span>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true">Rama VI</span>
        
        <p> </p>
        <p class="uk-text-muted">I am ready for the job and I hope you will give me a chance to work for you or with your team and company. I can do anything about maintenance.</p>
      </div>
    </div>
    
    <div uk-grid>
      <div class="uk-width-1-6@m">
        <div>
        <img id="blah" class="imgCrop inImg " style="width: 100px;height: 100px" src="{% static "images/test.jpg" %}" alt="your image" /></div>
      </div>
      <div class="uk-width-expand@m">
        <h1 class="uk-margin-left"> Web Course Bangkok</h1>
      </div>
    </div>
    
    
    
    <div uk-grid>
      <div class="uk-width-1-6@m">
        <div>
        <img id="blah" class="imgCrop inImg " style="width: 100px;height: 100px" src="{% static "images/test.jpg" %}" alt="your image" /></div>
      </div>
      <div class="uk-width-expand@m">
        <h1 class="uk-margin-left"> Web Course Bangkok</h1>
      </div>
    </div>
    
    
    
    <br>
    
    
    
  </div>
</div> -->