{% extends 'base.html' %} {% load static %}{% load widget_tweaks %} {% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <style>
  .additionalTxt{
  color: #C4C4C4;
  }
  .link{
  color: #47CCA6;
  }
  .strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  }
  .strike > span {
  position: relative;
  display: inline-block;
  }
  .strike > span:before,
  .strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #c6c6c6;
  }
  .strike > span:before {
  right: 100%;
  margin-right: 15px;
  }
  .strike > span:after {
  left: 100%;
  margin-left: 15px;
  }
  .imgCropProfile{
  width: 100px;
  height: 100px;
  overflow: hidden;
  position:  relative;
  border-radius: 50%;
  /*align-items: center;*/
  }
  
  .inImgProfile{
  width: 100px;
  height: 100px;
  object-fit: cover;
  }
  .imgCrop{
  width: 80%;
  height: 200px;
  overflow: hidden;
  position:  relative;
  }
  .inImg{
  position: absolute;
  width: 80%;
  height: 200px;
  object-fit: cover;
  }
  
  .card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .card .card-heading {
  padding: 0 20px;
  margin: 0;
  }
  .card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
  }
  .card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  }
  .card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
  }
  .card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  }
  .card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
  }
  .card .card-body {
  padding: 0 20px;
  margin-top: 20px;
  }
  .card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
  }
  .card .card-media img {
  max-width: 100%;
  max-height: 100%;
  }
  .card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
  }
  .card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
  }
  .card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
  }
  .card .card-comments .comments-collapse-toggle a,
  .card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  .card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
  }
  .card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
  }
  .card.people:first-child {
  margin-left: 0;
  }
  .card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
  }
  .card.people .card-top.green {
  background-color: #53a93f;
  }
  .card.people .card-top.blue {
  background-color: #427fed;
  }
  .card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
  }
  .card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
  }
  .card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: white;
  }
  .card.hovercard .cardheader {
  background: url("{% static "images/pbg.jpg" %}")  ;
  background-size: cover;
  height: 230px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  }
  .card.hovercard .avatar {
  position: relative;
  top: -70px;
  margin-bottom: -50px;
  object-fit: cover;
  /*position: absolute;*/
  }
  .card.hovercard .avatar img {
  width: 140px;
  height: 140px;
  max-width: 150px;
  max-height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
  }
  .card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
  }
  .card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
  }
  .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
  </style>
  <!-- style="width: 100px;height: 100px" -->
  <div class="container ">
    
    
    <div class="uk-card uk-card-default  uk-margin-top" >
      
      
      <div id="detail">
        
        <div class="card hovercard  uk-margin-remove-top "  >
          <div class="cardheader">
            
          </div>
          <div class="avatar">
            <img src=" {{dis.profile.profile_picture.url}}" class="inImgProfile"  alt="">
          </div>
          <div class="uk-text-center ">
            <div class="info uk-margin-bottom">
              <h2 class="uk-text-large uk-margin"> {{dis.first_name}} {{dis.last_name}}</h2>
              <!-- 
              {% if dis.job_exp  %}
                <div class="desc"><p><i class="fa fa-briefcase" aria-hidden="true"></i> {{dis.job_exp}}</p></div>
              {% endif %} -->
            </div>
            
            {% if status == "ยังไม่ส่งคำเชิญ" %}
              <a href="#confirm_job" class="uk-button uk-button-default btn-active " type="button" uk-toggle>เชิญเข้าร่วมงาน</a>
              <!-- This is the modal -->
              <div id="confirm_job" uk-modal >
                <div class="uk-modal-dialog uk-modal-body">
                  <h2>คุณต้องการเชิญเข้าร่วมงาน {{job.title_th}} ใช่หรือไม่ </h2>
                  <p>เมื่อตกลง ระบบจะส่งคำเชิญเข้าร่วมงานให้ผู้พิการทราบ หากต้องการยกเลิกคำเชิญ สามารถยกเลิกได้ที่หน้ารายการการเชิญ</p>
                  <p class="uk-text-right">
                    <a class="uk-button uk-button-default uk-modal-close" type="button">ยกเลิก</a>
                    <a href="{% url "request_job" dis.id job.id %}" class="uk-button uk-button-primary" type="button">ตกลง</a>
                  </p>
                </div>
              </div>
              {% elif status == "ตอบรับคำเชิญ" %}
              
              <i class="fa fa-check" aria-hidden="true"></i>  ตอบรับคำเชิญงาน {{job}}
              {% elif status == "ส่งคำเชิญ" %}
              <button class="uk-button uk-button-default " type="button" disabled><i class="fa fa-check" aria-hidden="true"></i> ส่งคำเชิญแล้ว</button>
              {% elif status == "สมัครงาน" %}
              <a href="{% url "confirm_job" dis.id job.id %}" class="uk-button uk-button-default btn-active uk-margin-small-right " type="button"> ยืนยันการสมัครงาน</a>
              <a href="{% url "refuse_job" dis.id job.id %}" class="uk-button uk-button-default  " type="button"> ปฏิเสธ</a>

              {% elif status == "ปฏิเสธงาน" %}
                  <a href="{% url "confirm_job" dis.id job.id %}" class="uk-button uk-button-default btn-active uk-margin-small-right " type="button"> ยืนยันการสมัครงาน</a>
              <button  class="uk-button uk-button-default  " type="button" disabled><i class="fa fa-check" aria-hidden="true"></i>  ปฏิเสธการสมัครงานแล้ว</button>

            {% endif %}
            
          </div>
          
          
          
        </div>
        <div class="uk-container ">
          <hr >
          
           <h2 class="uk-heading-bullet uk-margin-remove-top ">ข้อมูลส่วนตัว </h2>
                                <table class="uk-table ">
                                    
                                    <tbody>
                                        <tr >
                                            <td class="uk-width-1-5 uk-text-right">เพศ : </td>
                                            <td class="uk-table-expand"> {{dis.sex}}</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right ">อายุ : </td>
                                            <td class="uk-table-expand">{{dis.age}}</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right ">ประเภทความพิการ : </td>
                                            <td class="uk-table-expand">{{dis.disability_cate}} ระดับ {{dis.disability_level}}</td>
                                            
                                        </tr>
                                         <tr>
                                            <td class="uk-text-right ">อุปกรณ์ช่วยเหลือ : </td>
                                            <td class="uk-table-expand">{{dis.disabled_equiptment}} </td>
                                            
                                        </tr>
                                         <tr>
                                            <td class="uk-text-right ">สาเหตุความพิการ : </td>
                                            <td class="uk-table-expand">{{dis.disability_reason}} </td>
                                            
                                        </tr>
                                          <tr>
                                            <td class="uk-text-right ">ปีที่พิการ : </td>
                                            <td class="uk-table-expand">{{dis.disabled_year}} </td>
                                            
                                        </tr>

                                            <tr >
                                            <td class="uk-width-1-5 uk-text-right">งานอดิเรก : </td>
                                            <td class="uk-table-expand"> {{dis.hobbies}}</td>
                                            
                                        </tr>
                                       
                                        
                                            <tr>
                                            <td class="uk-text-right ">ประเภทงานที่สนใจ : </td>
                                            <td class="uk-table-expand">{{dis.interesting_work_cate}} </td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right ">ช่วงเวลาทำงาน : </td>
                                            <td class="uk-table-expand">{{dis.working_time}} </td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right">ตำแหน่งงานที่สนใจ :</td>
                                            <td class="uk-table-expand">
                                                <ul>
                                                <li>
                                                    {{dis.job_interest1}} เงินเดือน {{dis.expected_salary1}}
                                                </li>
                                                <li>
                                                    {{dis.job_interest2}} เงินเดือน {{dis.expected_salary2}}
                                                </li>
                                                <li>
                                                    {{dis.job_interest3}} เงินเดือน {{dis.expected_salary3}}
                                                </li>
                                            </ul>
                                               
                                            </td>
                                            
                                        </tr>


                                          <tr>
                                            <td class="uk-text-right">สวัสดิการที่คาดหวัง :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.expected_welfare}}
                                            </td>
                                            
                                        </tr>
                                      
                                        
                                          <tr >
                                            <td class="uk-width-1-5 uk-text-right">โรคประจำตัว : </td>
                                            <td class="uk-table-expand"> {{dis.congenital_disease}}</td>
                                            
                                        </tr>
                                         <tr >
                                            <td class="uk-width-1-5 uk-text-right">คดีความ : </td>
                                            <td class="uk-table-expand"> {{dis.lawsuit}}</td>
                                            
                                        </tr>
                                        {% if other_things %}
                                        <tr >
                                            <td class="uk-width-1-5 uk-text-right">อื่นๆ : </td>
                                            <td class="uk-table-expand"> 
                                            <ul>
                                                {% for i in other_things %}
                                                <li>
                                                    <p>{{i}}</p>

                                                </li>
                                                {% endfor %}
                                            </ul>
                                            </td>
                                            
                                        </tr>

                                        
                                        <tr>
                                            <td class="uk-text-right ">สถานะปัจจุบัน : </td>
                                            <td class="uk-table-expand">{{dis.current_status}} </td>
                                            
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>

                                <h2 class="uk-heading-bullet uk-margin-remove-top ">ประสบการณ์การทำงาน </h2>
                                {% if dis.job_exp == " มี" %}
                                <table class="uk-table">
                                    
                                    <tbody>
                                        <tr>
                                            <td class="uk-width-1-5 uk-text-right">ชื่อบริษัท:</td>
                                            <td class="uk-table-expand">{{dis.last_company_name}}</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right">จังหวัด :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.last_company_province}}
                                            </td>
                                            
                                        </tr>
                                          <tr>
                                            <td class="uk-text-right">ตำแหน่ง :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.position}}
                                            </td>
                                            
                                        </tr>
                                            <tr>
                                            <td class="uk-text-right">เริ่ม - สิ้นสุด :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.working_start_date}} - {{dis.working_end_date}}
                                            </td>
                                            
                                        </tr>
                                         <tr>
                                            <td class="uk-text-right">เหตุผลที่ออก :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.quit_job_reason}} 
                                            </td>
                                            
                                        </tr>
                                 
                                        
                                        
                                    </tbody>
                                      {% else %}
                                      <p class="uk-margin-left">ไม่มีประสบการณ์การทำงาน</p>
                                        {% endif %}
                                </table>
                                    <h2 class="uk-heading-bullet uk-margin-remove-top ">ประวัติการศึกษา </h2>
                              
                                <table class="uk-table">
                                    
                                    <tbody>
                                        
                                                         <tr>
                                        
                                            <td class="uk-width-1-5 uk-text-right ">วุฒิการศึกษา : </td>
                                            <td class="uk-table-expand">{{dis.graduate}} </td>
                                            
                                        </tr>
                                       <tr>
                                            <td class="uk-text-right ">ปีที่สำเร็จการศึกษา : </td>
                                            <td class="uk-table-expand">{{dis.graduate_year}} </td>
                                            
                                        </tr>
                                          <tr>
                                            <td class="uk-text-right ">สถาบัน : </td>
                                            <td class="uk-table-expand">{{dis.educational_institution}} </td>
                                            
                                        </tr>
                                       <tr>
                                            <td class="uk-text-right ">คณะ / หลักสูตร : </td>
                                            <td class="uk-table-expand">{{dis.faculty}} </td>
                                            
                                        </tr>
                                         <tr>
                                            <td class="uk-text-right ">สาขา / วิชาเอก : </td>
                                            <td class="uk-table-expand">{{dis.branch}} </td>
                                            
                                        </tr>
                                            <tr>
                                            <td class="uk-text-right ">ประกาศเกียรติคุณ : </td>
                                            <td class="uk-table-expand">{{dis.honor_name}} {{dis.honor_year}} มอบโดย {{dis.agency_honor}}</td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                 


                                        
                                        
                                  


                                <hr>

                                     <!-- <h2></h2> -->
 <h2 class="uk-heading-bullet uk-margin-remove-top ">คุณสมบัติอื่นๆ </h2>
                 {% if language %}
                         <table class="uk-table uk-table-divider">
                                     <thead>
                            <tr>
                                <th>ภาษา </th>
                                <th>การฟัง </th>
                                <th>การพูด </th>
                                <th>การอ่าน </th>
                                <th>การเขียน </th>
                            </tr>
                        </thead>
                                    <tbody>
                                {% for i in language %}
                                <tr>

                                       <td>{{i.language}}  </td>
                                             <td>{{i.listen}}</td>    
                                              <td>{{i.speak}}</td>  
                                               <td>{{i.read}}</td>
                                                <td>{{i.write}}</td>

                                 
                                    </tr>
                                      {% endfor %}      
                                    </tbody>
                                </table>
                            {% else %}
                            <p class="uk-margin-left">คุณสมบัติทางด้านภาษาไม่ระบุ</p>
                                 {% endif %}
                                
 {% if computer_skill %}
                         <table class="uk-table uk-table-divider">
                                     <thead>
                            <tr>
                                <th>ชื่อ </th>
                                <th>ระดับความสามารถ </th>
                               
                            </tr>
                        </thead>
                                    <tbody>
                                {% for i in computer_skill %}
                                <tr>

                                       <td>{{i.name}}  </td>
                                             <td>{{i.level}}</td>    
                                             
                                 
                                    </tr>
                                      {% endfor %}      
                                    </tbody>
                                </table>
                                 {% else %}
                            <p class="uk-margin-left">คุณสมบัติทางด้านคอมพิวเตอร์ไม่ระบุ</p>
                                 {% endif %}


                        
          <hr>
          <h2 class="uk-heading-bullet uk-margin-remove-top ">ข้อมูลติดต่อ </h2>
            {% if status == "ตอบรับคำเชิญ" %}
          <table class="uk-table">
            
                
                                    <tbody>
                                        <tr>
                                            <td class="uk-width-1-5 uk-text-right">อีเมล:</td>
                                            <td class="uk-table-expand">{{dis.email}}</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right">เบอร์โทรศัพท์ :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.phone_no}}
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-width-1-5  ">ที่อยู่ตามทะเบียนบ้าน:</td>
                                            <td class="uk-table-expand">
                                                
                                                <p>
                                                   {{dis.registration_address}} 
                                                </p> 
                                                <p>{{dis.registration_province}}</p>
                                            </td>
                                             </tr> <tr>
                                              <td class="uk-width-1-5 uk-text-right">ที่อยู่ปัจจุบัน :</td>
                                            <td class="uk-table-expand">
                                                
                                                <p>
                                                   {{dis.current_address}} 
                                                </p> 
                                                <p>{{dis.current_province}}</p>
                                            </td>
                                        </tr>
                                        
                                        
                                    </tbody>
          </table>
        {% else %}

          <table class="uk-table">
            
            <tbody>
             
           
               <tr>
                                            <td class="uk-width-1-5  ">ที่อยู่ตามทะเบียนบ้าน:</td>
                                            <td class="uk-table-expand">
                                                
                                                <p>
                                                   {{dis.registration_address}} 
                                                </p> 
                                                <p>{{dis.registration_province}}</p>
                                            </td>
                                             </tr> <tr>
                                              <td class="uk-width-1-5 uk-text-right">ที่อยู่ปัจจุบัน :</td>
                                            <td class="uk-table-expand">
                                                
                                                <p>
                                                   {{dis.current_address}} 
                                                </p> 
                                                <p>{{dis.current_province}}</p>
                                                 <span class="uk-text-muted uk-text-small"><p>จะเปิดเผยข้อมูลติดต่อเมื่อได้รับยืนยันการสมัครงาน</p></span>
                                            </td>
                                        </tr>
              
            </tbody>
          </table>

            {% endif %}

          
        </div>
      </div>
      <!--end section -->
      <br>
      
    </div>
    <br>
  </div>
  <br>
{% endblock %}