{% extends 'base.html' %}{% load static %} {% block content %}
	<style type="text/css">
	/*
	Fade content bs-carousel with hero headers
	Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
	Image credits: unsplash.com
	*/
	/********************************/
	/*       Fade Bs-carousel       */
	/********************************/
	
	/********************************/
	/*          Hero Headers        */
	/********************************/
	
	/*#s2 {
	font-size: 3em;
	font-weight: bold;
		color :#FDFEFE;
		margin-top: -200px;
	margin-left: -300px;
	margin-bottom: -280px;
	padding: 300px;
	}*/
	
	#s-btn{
		margin-left: 10px;
	}
	.btn{
		color: #1abc9c;
		margin-top: 50px;
	}
	li a:hover{
	color: #47cca6;
	}
	li a{
		color:#8b8b8b;
	}
	

	.uk-container-brand{
		width: 60%;
	}
	ul{
			list-style: none outside none;
		padding-left: 0;
	margin: 0;
		}

		.content-slider li{
		/*background-color: #ed3020;*/
		text-align: center;
		color: #FFF;
		}
		.content-slider h3 {
		margin: 0;
		padding: 0px 0;
		}

		.content-slider2 li{
		/*background-color: #ed3020;*/
		text-align: center;
		color: #FFF;
		}
		.content-slider2 h3 {
		margin: 0;
		padding: 0px 0;
		}
	/********************************/
	/*          Media Queries       */
	/********************************/
/*	@media screen and (min-width: 980px){
	.hero { width: 980px; }
	}
	@media screen and (max-width: 640px){
	.hero h1 { font-size: 4em; }
	}*/
	</style>
	<div class="nav-desktop">
		<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
			<!-- Overlay -->
			<div class="overlay"></div>
			<!-- Indicators -->
			<!-- 	<ol class="carousel-indicators">
					<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
					
			</ol> -->
			
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item slides active">
					<div class="slide-1"></div>
					<div class="hero">
						<hgroup>
						<h1 id =" s1">PROVIDE WITH YOUT BEST OPPORTUNITY FOR FINDING THE BEST JOB THAT MATCHES YOU</h1>
						<h2 style="color :#FDFEFE; font-style: italic;">Join the world of opportunities</h2>
						</hgroup>
						
						<button class="uk-button uk-button-default uk-button-large btn-head">Find Jobs</button>
						<button id="s-btn" class="uk-button uk-button-default uk-button-large btn-head">Find Disabled People</button>
					</div>
				</div>
				
			</div>
		</div>
		<!-- //banner -->
		<div class="uk-section uk-section-default">
			<div class="container ">
				<div class="uk-child-width-expand@s" uk-grid>
				    <div class="">
				        	<img  src="{% static "images/handican.png" %}" >
				     </div>
				    <div class="uk-text-right">
				        <h1 style="color:#47cca6">Handican คืออะไร</h1>
				        <h3>
				           Handican เป็นตัวกลางในการจ้างงานระหว่างคนพิการกับบริษัท เราใช้ระบบ algorithm ดึงข้อมูลและข้อจำกัดต่างๆที่มีประโยชน์ของทั้งคนพิการและบริษัทเพื่อช่วยให้ทั้งสองฝ่ายสามารถค้นหาและจับคู่กันได้อย่างมีประสิทธิภาพและเราให้คำแนะนํา ส่งเสริม และประสานงานตลอดขั้นตอนการว่าจ้างเพื่อสนับสนุนให้ผู้พิการมีงานท่ีเหมาะสม และส่งเสริมให้หน่วยงานหรือบริษัทสามารถรับผู้พิการได้อย่างมีประสิทธิภาพ รวดเร็ว และยั่งยืน
				        </h3>
				    </div>
				</div>

			</div>
		</div>
		<div class="uk-section uk-section-muted">
			<div class="container ">
				<h1 class="uk-text-center uk-align-top " ก>How it works</h1>
				<div class="uk-grid uk-child-width-1-4@s" uk-grid>
					<div >
						<img  src="{% static "images/home1.png" %}" >
						<hr>
						<p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
					<div>
						<img src="{% static "images/home2.png" %}">
						<hr>
						<p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
					<div>
						<img src="{% static "images/home3.png" %}">
						<hr>
						<p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
					<div>
						<img src="{% static "images/home4.png" %}">
						<hr>
						<p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-default " style="background-color: #47cca6">
			<div class="uk-container ">
				<h3 class="uk-text-center " style="color: white; font-style: italic;" ><i class="fa fa-quote-left"></i></h3>
				<br>
				<!--  <h2 class="uk-text-center " style="color: white; font-style: italic;">Your ability is stronger than your disability</h2> -->
				
				<p style="font-size: 1.4em;color: white; font-style: italic; margin-top: -20px; " class="uk-heading-line uk-text-center ">Your ability is stronger than your disability</p>
				<!--
				<h1 style="font-size: 1.5em;color: white; font-style: italic;" class="uk-heading-line uk-text-center"><span>Your ability is stronger than your disability</span></h1> -->
				
			</div>
		</div>
		<div class="uk-section uk-section-default">
			<div class="uk-container ">
				<div class=" head-container uk-align-center">
					<h1 class="uk-heading-line " style="font-style: italic;"><span  >OUR BLOGS</span></h1>
					
				</div>
				<br>
				<div class="uk-child-width-1-3@s" uk-grid>
					<div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top imgCrop" >
								<img class="inImg" src="{% static "images/banner-1.jpg" %}" alt="">
							</div>
							<div class="uk-card-body uk-padding-small">
								<h3 class="uk-margin uk-text-bold">Since I have been working here. I'm inspired make my dream come true.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<div class="uk-padding-small">
								<div class="uk-grid-small uk-flex-middle" uk-grid>
									<div class="uk-width-auto">
										<img class="uk-border-circle" src="{% static "images/avatar.jpg" %}"  style="width: 50px;height: 50px;">
									</div>
									<div class="uk-width-expand">
										<h5 class="uk-card-title uk-margin-remove-bottom">TOEY</h5>
										<p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top imgCrop" >
								<img class="inImg" src="{% static "images/people.png" %}" alt="">
							</div>
							<div class="uk-card-body uk-padding-small">
								<h3 class=" uk-margin uk-text-bold">Since I have been working here. I'm inspired make my dream come true.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<div class="uk-padding-small">
								<div class="uk-grid-small uk-flex-middle" uk-grid>
									<div class="uk-width-auto">
										<img class="uk-border-circle" src="{% static "images/avatar.jpg" %}"  style="width: 50px;height: 50px;">
									</div>
									<div class="uk-width-expand">
										<h5 class="uk-card-title uk-margin-remove-bottom">TOEY</h5>
										<p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top imgCrop" >
								<img class="inImg" src="{% static "images/banner-2.jpg" %}" alt="">
							</div>
							<div class="uk-card-body uk-padding-small ">
								<h3 class="uk-margin uk-text-bold">Since I have been working here. I'm inspired make my dream come true.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<div class="uk-padding-small">
								<div class="uk-grid-small uk-flex-middle" uk-grid>
									<div class="uk-width-auto">
										<img class="uk-border-circle" src="{% static "images/avatar.jpg" %}"  style="width: 50px;height: 50px;">
									</div>
									<div class="uk-width-expand">
										<h5 class="uk-card-title uk-margin-remove-bottom">TOEY</h5>
										<p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="uk-text-center">
					
					<a class="uk-button uk-button-default btn uk-button-large">See More Stories</a>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-muted">
			<div class="uk-container-small uk-align-center ">
				<h3  class="uk-text-center uk-margin-bottom uk-text-muted">TOP BUSINESS HIRING ON HANDIJOB</h3>
				<div class=" uk-child-width-1-5@s " uk-grid>
					
					<div>
						<img class="logo-brand" src="{% static "images/cpall.png" %}"  >
						
					</div>
					<div>
						<img class="logo-brand" src="{% static "images/leave.png" %}"  >
					</div>
					<div>
						<img class="logo-brand" src="{% static "images/betagen.png" %}"  >
					</div>
					<div>
						<img class="logo-brand" src="{% static "images/izuzu.png" %}"  >
					</div>
					<div>
						<img class="logo-brand" src="{% static "images/ptt.png" %}"  >
					</div>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-default">
			<div class="container uk-text-muted">
				<h1 class="uk-heading-divider uk-margin ">BROWSE TOP JOBS</h1>
				<div class="uk-child-width-1-4@s" uk-grid>
					<div >
						<ul class="uk-list ">
							<li><a >Artists</a></li>
							<li><a >Braille Teachers</a></li>
							<li><a >Developers</a></li>
							<li><a >Facebook Marketers</a></li>
							<li><a >Mechanicians</a></li>
							
							
						</ul>
					</div>
					<div>
						<ul class="uk-list ">
							<li><a >Architects</a></li>
							<li><a >Creators</a></li>
							<li><a >Email Marketing Consultants</a></li>
							<li><a >Graphic Designers</a></li>
							<li><a >Operators</a></li>
						</ul>
					</div>
					<div>
						<ul class="uk-list ">
							<li><a >Accountants</a></li>
							<li><a >Consultants</a></li>
							<li><a >Electicians</a></li>
							<li><a >Lapidarians</a></li>
							<li><a >Sign Language Teachers</a></li>
						</ul>
					</div>
					<div>
						<ul class="uk-list ">
							<li><a >Bookkeepers</a></li>
							<li><a >Document Destroyers</a></li>
							<li><a >Firefighters</a></li>
							<li><a >Masseuses</a></li>
							<li><a >Writers</a></li>
						</ul>
					</div>
					
					
				</div>
			</div>
		</div>
		
		<div class="uk-section uk-section-default">
			<div class="container">
				<h2 class="uk-heading-divider uk-margin-bottom">กิจกรรมที่น่าสนใจ</h2>
				<!-- <div class="uk-grid-match " uk-grid> -->
				<div class="demo ">
					
					<div class="item">
						<ul id="content-slider" class="content-slider">
							<li >
								<h3  > <img src="{% static "images/banner-1.jpg" %}">	</h3>
								<!-- <img class="logo-brand"   src="{% static "images/banner-1.jpg" %}"  > -->
							</li>
							<li>
								<h3> <img src="{% static "images/banner-2.jpg" %}">	</h3>
							</li>
							<li>
								<h3> <img src="{% static "images/banner-1.jpg" %}">	</h3>
							</li>
							<li>
								<h3> <img src="{% static "images/banner-2.jpg" %}">	</h3>
							</li>
							<li>
								<h3> <img src="{% static "images/banner-1.jpg" %}">	</h3>
							</li>
							
						</ul>
					</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-default uk-padding-small" style="background-color: #47cca6">
			<div class="uk-container-small uk-align-center ">
				<div class="uk-text-center uk-grid-large" uk-grid>
					<!-- <div></div> -->
					<!-- <div></div> -->
					<div class="uk-width-expand ">
						<a href="https://www.facebook.com/handican.th/"><img class="logo-brand" style="width: 40px;height: auto;" src="{% static "images/facebook.png" %}"  ></a>
					<!-- 	<img class="logo-brand" style="width: 40px;height: auto;"  src="{% static "images/instagram.png" %}"  >
						
						<img class="logo-brand" style="width: 40px;height: auto;"  src="{% static "images/youtube.png" %}"  > -->
						<a href="line://ti/p/@jju9765m"><img class="logo-brand" style="width: 40px;height: auto;"  src="{% static "images/line.png" %}"  ></a>
					</div>
					<!-- <div>
					</div>
					<div>
					</div>
					<div>
					</div> -->
					<!-- <div></div> -->
				</div>
				
			</div>
		</div>
		<div class="uk-section uk-section-secondary uk-light" style="background-color: #103f54">
			<div class="uk-container">
				<h1 class="uk-text-center ">ติดต่อเรา</h1>
				<br>
				<div class="container">
					<div class=" uk-child-width-1-2@s uk-grid-divider" uk-grid>
						
						<div >
							<h2><i class="fa fa-phone" aria-hidden="true"></i> 02-5999999</h2>
							<h2 class="uk-margin-remove-top"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@handican.com</h2>
							<p>Faculty of Architecture and Planing,Thammasat University</p>
							<iframe id="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.15372692931!2d100.60657461483407!3d14.068098090143396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d8040089d11c1%3A0x15b128028a5662b6!2z4LiE4LiT4Liw4Liq4LiW4Liy4Lib4Lix4LiV4Lii4LiB4Lij4Lij4Lih4Lio4Liy4Liq4LiV4Lij4LmM4LmB4Lil4Liw4LiB4Liy4Lij4Lic4Lix4LiH4LmA4Lih4Li34Lit4LiHIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4mOC4o-C4o-C4oeC4qOC4suC4quC4leC4o-C5jA!5e0!3m2!1sth!2sth!4v1515896528578"  frameborder="0" style="border:0;" allowfullscreen></iframe>
							
						</div>
						<div>
							<form action="" method="post">
								{% csrf_token %}
								{{ form }}
								<input class="uk-button uk-button-default uk-margin" type="submit" value="Submit" />
							</form>
						</div>
					</div>
				</div>
				<br>
				<p class="uk-text-center ">©2017Handican Co., Ltd.</p>
			</div>
		</div>
	</div>

	<div class="nav-mobile">
		<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
			<!-- Overlay -->
			<div class="overlay"></div>
			<!-- Indicators -->
			<!-- 	<ol class="carousel-indicators">
					<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
					
			</ol> -->
			
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item slides active">
					<div class="slide-1"></div>
					<div class="hero">
						<hgroup>
						<h1 id ="s1">PROVIDE WITH YOUT BEST OPPORTUNITY FOR FINDING THE BEST JOB THAT MATCHES YOU</h1>
						<h2 style="color :#FDFEFE; font-style: italic;">Join the world of opportunities</h2>
						</hgroup>
						
						<button class="uk-button uk-button-default uk-button-small btn-head">Find Jobs</button>
						<button id="s-btn" class="uk-button uk-button-default uk-button-small btn-head">Find Disabled People</button>
					</div>
				</div>
				
			</div>
		</div>
		<!-- //banner -->
		<div class="uk-section uk-section-default">
			<div class="container ">
				<div class="uk-child-width-expand@s" uk-grid>
				    <div class="uk-grid-item-match">
				        
				     </div>
				    <div class="uk-text-right">
				        <h1>Handican คืออะไร</h1>
				        <h3>
				           Handican เป็นตัวกลางในการจ้างงานระหว่างคนพิการกับบริษัท เราใช้ระบบ algorithm ดึงข้อมูลและข้อจำกัดต่างๆที่มีประโยชน์ของทั้งคนพิการและบริษัทเพื่อช่วยให้ทั้งสองฝ่ายสามารถค้นหาและจับคู่กันได้อย่างมีประสิทธิภาพและเราให้คำแนะนํา ส่งเสริม และประสานงานตลอดขั้นตอนการว่าจ้างเพื่อสนับสนุนให้ผู้พิการมีงานท่ีเหมาะสม และส่งเสริมให้หน่วยงานหรือบริษัทสามารถรับผู้พิการได้อย่างมีประสิทธิภาพ รวดเร็ว และยั่งยืน
				        </h3>
				    </div>
				</div>

			</div>
		</div>
		<div class="uk-section uk-section-muted">
			<div class="container  ">
				<h1 class="uk-text-center uk-align-top">How it works</h1>
				<div class="uk-grid uk-child-width-1-2 column-mobile " uk-grid>
					<div >
						<img  src="{% static "images/home1.png" %}" >
						<hr>
						<p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
					<div>
						<img src="{% static "images/home2.png" %}">
						<hr>
						<p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
					<div>
						<img src="{% static "images/home3.png" %}">
						<hr>
						<p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
					<div>
						<img src="{% static "images/home4.png" %}">
						<hr>
						<p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-default " style="background-color: #47cca6">
			<div class="uk-container ">
				<p class="uk-text-center " style="color: white; font-style: italic;" ><i class="fa fa-quote-left"></i></p>
				<br>
				<!--  <h2 class="uk-text-center " style="color: white; font-style: italic;">Your ability is stronger than your disability</h2> -->
				
				<p style="font-size: 1.2em;color: white; font-style: italic; margin-top: -20px; " class="uk-heading-line uk-text-center ">Your ability is stronger than your disability</p>
				<!--
				<h1 style="font-size: 1.5em;color: white; font-style: italic;" class="uk-heading-line uk-text-center"><span>Your ability is stronger than your disability</span></h1> -->
				
			</div>
		</div>
		<div class="uk-section uk-section-default">
			<div class="uk-container ">
			
					<h1 class="uk-heading-line uk-text-center " style="font-style: italic;"><span  >OUR BLOGS</span></h1>
					
				
				<br>
				<div class="uk-child-width-1-3@m" uk-grid>
					<div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top imgCrop" >
								<img class="inImg" src="{% static "images/banner-1.jpg" %}" alt="">
							</div>
							<div class="uk-card-body uk-padding-small">
								<h3 class=" uk-margin uk-text-bold">Since I have been working here. I'm inspired make my dream come true.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<div class="uk-padding-small">
								<div class="uk-grid-small uk-flex-middle" uk-grid>
									<div class="uk-width-auto">
										<img class="uk-border-circle" src="{% static "images/avatar.jpg" %}"  style="width: 50px;height: 50px;">
									</div>
									<div class="uk-width-expand">
										<h5 class=" uk-margin-remove-bottom">TOEY</h5>
										<p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top imgCrop" >
								<img class="inImg" src="{% static "images/people.png" %}" alt="">
							</div>
							<div class="uk-card-body uk-padding-small">
								<h3 class=" uk-margin uk-text-bold">Since I have been working here. I'm inspired make my dream come true.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<div class="uk-padding-small">
								<div class="uk-grid-small uk-flex-middle" uk-grid>
									<div class="uk-width-auto">
										<img class="uk-border-circle" src="{% static "images/avatar.jpg" %}"  style="width: 50px;height: 50px;">
									</div>
									<div class="uk-width-expand">
										<h5 class="uk-card-title uk-margin-remove-bottom">TOEY</h5>
										<p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top imgCrop" >
								<img class="inImg" src="{% static "images/banner-2.jpg" %}" alt="">
							</div>
							<div class="uk-card-body uk-padding-small ">
								<h3 class="uk-card-title uk-margin uk-text-bold">Since I have been working here. I'm inspired make my dream come true.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<div class="uk-padding-small">
								<div class="uk-grid-small uk-flex-middle" uk-grid>
									<div class="uk-width-auto">
										<img class="uk-border-circle" src="{% static "images/avatar.jpg" %}"  style="width: 50px;height: 50px;">
									</div>
									<div class="uk-width-expand">
										<h5 class="uk-card-title uk-margin-remove-bottom">TOEY</h5>
										<p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="uk-text-center">
					
					<a class="uk-button uk-button-default btn uk-button-large">See More Stories</a>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-muted">
			<div class="uk-container uk-align-center ">
				<h3  class="uk-text-center uk-margin-bottom uk-text-muted">TOP BUSINESS HIRING ON HANDIJOB</h3>
				<div class=" uk-child-width-1-5 column-mobile" uk-grid>
					
					<div>
						<img class="logo-brand" src="{% static "images/cpall.png" %}"  >
						
					</div>
					<div>
						<img class="logo-brand" src="{% static "images/leave.png" %}"  >
					</div>
					<div>
						<img class="logo-brand" src="{% static "images/betagen.png" %}"  >
					</div>
					<div>
						<img class="logo-brand" src="{% static "images/izuzu.png" %}"  >
					</div>
					<div>
						<img class="logo-brand" src="{% static "images/ptt.png" %}"  >
					</div>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-default">
			<div class="container uk-text-muted">
				<h1 class="uk-heading-divider uk-margin ">BROWSE TOP JOBS</h1>
				<div class="uk-child-width-1-1" uk-grid>
					<div >
						<ul class="uk-list ">
							<li><a >Artists</a></li>
							<li><a >Architects</a></li>
							<li><a >Accountants</a></li>
							<li><a >Braille Teachers</a></li>
							<li><a >Bookkeepers</a></li>
							<li><a >Creators</a></li>
							<li><a >Consultants</a></li>
							<li><a >Developers</a></li>
							<li><a >Document Destroyers</a></li>
							<li><a >Email Marketing Consultants</a></li>
							<li><a >Electicians</a></li>
							<li><a >Facebook Marketers</a></li>
							<li><a >Firefighters</a></li>
							<li><a >Graphic Designers</a></li>
							<li><a >Mechanicians</a></li>
							<li><a >Masseuses</a></li>
							<li><a >Lapidarians</a></li>
							<li><a >Operators</a></li>
							<li><a >Sign Language Teachers</a></li>
							<li><a >Writers</a></li>
							
							
						</ul>
					</div>
					
					
				</div>
			</div>
		</div>
		
		<div class="uk-section uk-section-default">
			<div class="container">
				<h2 class="uk-heading-divider uk-margin-bottom">กิจกรรมที่น่าสนใจ</h2>
				<div class="demo ">
					
					<div class="item">
						<ul id="content-slider2" class="content-slider2">
							<li >
								<h3  > <img src="{% static "images/banner-1.jpg" %}">	</h3>
							
							</li>
							<li>
								<h3> <img src="{% static "images/banner-2.jpg" %}">	</h3>
							</li>
							<li>
								<h3> <img src="{% static "images/banner-1.jpg" %}">	</h3>
							</li>
							<li>
								<h3> <img src="{% static "images/banner-2.jpg" %}">	</h3>
							</li>
							<li>
								<h3> <img src="{% static "images/banner-1.jpg" %}">	</h3>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-default uk-padding-small" style="background-color: #47cca6">
			<div class="uk-container-small uk-align-center ">
				<div class="uk-text-center uk-grid-large" uk-grid>
					<!-- <div></div> -->
					<div class="uk-width-expand ">
						<a href="https://www.facebook.com/handican.th/"><img class="logo-brand" style="width: 40px;height: auto;" src="{% static "images/facebook.png" %}"  ></a>
					<!-- 	<img class="logo-brand" style="width: 40px;height: auto;"  src="{% static "images/instagram.png" %}"  >
						
						<img class="logo-brand" style="width: 40px;height: auto;"  src="{% static "images/youtube.png" %}"  > -->
						<a href="line://ti/p/@jju9765m"><img class="logo-brand" style="width: 40px;height: auto;"  src="{% static "images/line.png" %}"  ></a>
					</div>
					<!-- <div>
					</div>
					<div>
					</div>
					<div>
					</div> -->
					<!-- <div></div> -->
				</div>
				
			</div>
		</div>
		<div class="uk-section uk-section-secondary uk-light" style="background-color: #103f54">
			<div class="uk-container">
				<h2 class="uk-text-center ">ติดต่อเรา</h2>
				<br>
				<div class="container">
					<div class=" uk-child-width-1-2@s uk-grid-divider" uk-grid>
						
						<div >
							<h3><i class="fa fa-phone" aria-hidden="true"></i> 02-5999999</h3>
							<h3 class="uk-margin-remove-top"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@handican.com</h3>
							<p>Faculty of Architecture and Planing,Thammasat University</p>
							<iframe id="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.15372692931!2d100.60657461483407!3d14.068098090143396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d8040089d11c1%3A0x15b128028a5662b6!2z4LiE4LiT4Liw4Liq4LiW4Liy4Lib4Lix4LiV4Lii4LiB4Lij4Lij4Lih4Lio4Liy4Liq4LiV4Lij4LmM4LmB4Lil4Liw4LiB4Liy4Lij4Lic4Lix4LiH4LmA4Lih4Li34Lit4LiHIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4mOC4o-C4o-C4oeC4qOC4suC4quC4leC4o-C5jA!5e0!3m2!1sth!2sth!4v1515896528578"  frameborder="0" style="border:0" allowfullscreen></iframe>
							
						</div>
						<div>
							<form action="" method="post">
								{% csrf_token %}
								{{ form }}
								<input class="uk-button uk-button-default uk-margin" type="submit" value="Submit" />
							</form>
						</div>
					</div>
				</div>
				<br>
				<p class="uk-text-center ">©2017Handican Co., Ltd.</p>
			</div>
		</div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'js/lightslider.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
			$("#content-slider").lightSlider({
					loop:true,
					keyPress:true,
					item :4,
					slideMove: 1
				});
			$("#content-slider2").lightSlider({
					loop:true,
					keyPress:true,
					item :2,
					slideMove: 1
				});


			});

			

			{% if status %}
					alert('ส่งฟอร์มสำเร็จ');
			{% endif %}
	</script>
{% endblock %}