 {% load static %}{% load widget_tweaks %} {% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css">
<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
 <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

  <style>
  .additionalTxt{
  color: #C4C4C4;
  }
  .link{
  color: #47CCA6;
  }
  .strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  }
  .strike > span {
  position: relative;
  display: inline-block;
  }
  .strike > span:before,
  .strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #c6c6c6;
  }
  .strike > span:before {
  right: 100%;
  margin-right: 15px;
  }
  .strike > span:after {
  left: 100%;
  margin-left: 15px;
  }
  .imgCrop{
  /*border-radius: 50%;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:  relative;
  }

  b{
  color: red;
  }
  </style>
  <div class="" style="margin-top: -20px;">
    <div class="container  ">
      <br>  
   
          <h2 class="text-center">สร้างประกาศงาน</h2>
          
          <div class="container" id="inContainer">
            
            
      
          
          <div class="panel-body uk-text-left">
            <!-- <h3>เพียง 2 ขั้นตอนในการสร้างโปรไฟล์พร้อมรับเสนองาน</h3> -->
         
           <form id="register-form" role="form" autocomplete="off" enctype='multipart/form-data' class="form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                              <h2>รายละเอียดงาน</h2>
                                <div  class="uk-margin-bottom  uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                                    <!-- <p  for=" ">พาสเวิร์ดเก่า</p> -->
                                    
                                    <div>
                                        <p  for=" ">ชื่อตำแหน่งงาน (TH) <b class="requiredForm">*</b></p>
                                        {{form.title_th |attr:"placeholder:โปรดระบุชื่องาน และชื่อตำแหน่งงาน"}}
                                    </div>
                                    <div>
                                        <p  for=" ">ชื่อตำแหน่งงาน (EN) <b class="requiredForm">*</b></p>
                                        {{form.title_en }}
                                    </div>
                                </div>
                                 <div  class="uk-margin-bottom uk-margin-remove-top uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                                   <div  class="uk-margin-bottom ">
                                    <p  for=" ">อีเมลติดต่อกลับ <b class="requiredForm">*</b></p>
                                    {{form.email}}
                                </div>
                                     <div  class="uk-margin-bottom ">
                                    <p  for=" ">เบอร์โทรติดต่อกลับ <b class="requiredForm">*</b></p>
                                    {{form.phone_no}}
                                </div>
                                </div>
                                <div  class="uk-margin-bottom ">
                                    <p  for=" ">ที่ตั้งบริษัท <b class="requiredForm">*</b></p>
                                    {{form.location}}
                                </div>
                                <div  class="uk-margin-bottom uk-margin-remove-top uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                                   
                                     <div  class="uk-margin-bottom ">
                                    <p  for=" ">จังหวัดที่ตั้งบริษัท<b class="requiredForm">*</b></p>
                                    {{form.province}}
                                </div>
                                </div>
                                <div  class="uk-margin-bottom uk-margin-remove-top uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                                   
                                     <div  class="uk-margin-bottom ">
                                    <p  for=" ">ประเภทงาน<b class="requiredForm">*</b></p>
                                    {{form.work_type |attr:"placeholder:งานบริการ, งานออกแบบ, งานบัญชี "}}
                                </div>
                                </div>
                                 <div  class="uk-margin-bottom ">
                                    <p  for=" ">รายละเอียดงาน <b class="requiredForm">*</b></p>
                                    <p></p>
                             
                                    <!-- {{form.media}}  -->
                                    {{form.job_detail}}
                   
                                </div>
                                 <div  class="uk-margin-bottom uk-margin-remove-top uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                            
<div>
                                            <p for=" ">เวลาการทำงาน <b class="requiredForm">*</b></p>
                                            <p class="uk-margin-remove-top">
                                                {{form.working_time }}</p>
                                                
                                                
                                        </div>
                                          <div >
                                        <p class=" "  for=" "> ช่วงเวลาในการทำงาน <b class="requiredForm">*</b></p>
                                        
                                        <div  class="uk-margin-bottom uk-margin-remove-top " uk-grid>
                                            <div class="form-group ">
                                                <div class="input-group">
                                                    {{form.work_from_hour}}
                                                    <div class="input-group-addon">
                                                        ถึง
                                                    </div>
                                                    {{form.work_to_hour}}
                                                </div>
                                            </div>
                                            
                                      </div>  

                                    </div>
                                 
                                        
                                   </div>

                                         <div  class="uk-margin-bottom uk-margin-remove-top uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                                   
                                       <div>       
                            <p class=" "  for=" "> เงินเดือน <b class="requiredForm">*</b></p>
                                         {{form.salary }}
                                     
                                      </div>
<div>
 <p class=" "  for=" "> สวัสดิการสำหรับผู้พิการ <b class="requiredForm">*</b></p>
 {{form.disabled_welfare}}
</div>
                                </div>
   <br>
   <hr>
                                
<h2>คุณสมบัติที่ต้องการ</h2>
                             
                                 
                                <div  class="uk-margin-bottom uk-margin-remove-top uk-child-width-1-3@m uk-child-width-1-1@s " uk-grid>
                                    <div class="uk-width-small">
                                        <p> เพศ <b class="requiredForm">*</b></p>
                                
                                        {{form.sex |add_class:"uk-select" }}
                                    </div>
                                    <div >
                                        <p class=" "  for=" "> อายุ <b class="requiredForm">*</b></p>
                                        
                                        <div  class="uk-margin-bottom uk-margin-remove-top " uk-grid>
                                            <div class="form-group ">
                                                <div class="input-group">
                                                    {{form.age1}}
                                                    <div class="input-group-addon">
                                                        ถึง
                                                    </div>
                                                    {{form.age2}}
                                                </div>
                                            </div>
                                            
                                      </div>  

                                    </div>
                                        
                                    <div class="uk-width-medium">
                                     
                                        
                                        
                                  
                                    
                                    </div> 
                                </div>
                                
                              <div class="uk-margin-remove-top uk-margin-bottom  uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                                    <div>
                                        <p >เลือกประเภทความพิการ </p>
                                        {{form.disability_cate }}
                                    </div>
                                    <div></div>
                               
                                </div>
                                <div class="uk-margin-remove-top uk-margin-bottom  uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                                    <div>
                                        <p >ประวัติการศึกษา </p>
                                        {{form.history_of_education }}
                                    </div>
                                    <div></div>
                               
                                </div>
                                  
<div class="uk-margin-bottom">

                                   <!--  {{form.language |add_class:"uk-input"|attr:"placeholder:  " }}  -->
                                    <p for=" ">ความรู้ทางด้านภาษา ( กรณีที่มีหลายภาษาให้ขั้นด้วยลูกน้ำ (,) )</p>
                                    {{form.language |add_class:"uk-input"|attr:"placeholder: ภาษาอังกฤษ, ภาษาจีน, ภาษาญี่ปุ่น " }}
                                </div>

                        <!--         <div class="uk-margin-bottom uk-margin-remove-top uk-child-width-1-4@m uk-child-width-1-1@s " uk-grid>
                                        <div>
                                            <p for=" ">การฟัง </p>
                                            <p class="uk-margin-remove-top">
                                                {{form.listen_skill }}</p>
                                        </div>
                                        <div>
                                            <p for=" "> การพูด</p>
                                            <p class="uk-margin-remove-top">
                                                {{form.speaking_skill }}</p>
                                        </div>
                                            <div>
                                            <p for=" ">การอ่าน </p>
                                            <p class="uk-margin-remove-top">
                                                {{form.reading_skill }}</p>
                                        </div>
                                            <div>
                                            <p for=" ">การเขียน </p>
                                            <p class="uk-margin-remove-top">
                                                {{form.writing_skill }}</p>
                                        </div>
                                    </div> -->



  <div class="uk-margin-bottom uk-margin-remove-top uk-child-width-1-2@m uk-child-width-1-1@s " uk-grid>
                                        <div>
                                            <p for=" ">ทักษะทางด้านคอมพิวเตอร์ </p>
                                            <p class="uk-margin-remove-top">
                                                {{form.computer_skill1 |attr:"placeholder: 1."}}</p>
                                                 <p class="uk-margin-remove-top">
                                                {{form.computer_skill2 |attr:"placeholder: 2."}}</p>
                                                 <p class="uk-margin-remove-top">
                                                {{form.computer_skill3 |attr:"placeholder: 3."}}</p>
                                                 <p class="uk-margin-remove-top">
                                                {{form.computer_skill4 |attr:"placeholder: 4."}}</p>
                                                 <p class="uk-margin-remove-top">
                                                {{form.computer_skill5 |attr:"placeholder: 5."}}</p>
                                        </div>
                                        <div>
                                            <p for=" "> ระดับความขำนาญ</p>
                                            <p class="uk-margin-remove-top">
                                                {{form.level_computer_skill1 }}</p>
                                                <p>{{form.level_computer_skill2 }}</p>
                                                <p>{{form.level_computer_skill3 }}</p>
                                                      <p>{{form.level_computer_skill4 }}</p>
                                                            <p>{{form.level_computer_skill5 }}</p>
                                                 
                                                  
                                        </div>
                                            
                                    </div>    
                             
                                   
                                
                                <br>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% for i in form.errors %}
                                    {{i}}
                                {% endfor %}
                                {% if form.errors %}
                                    error!
                                {% endif %}
                                <div class="form-group">
                                    
                                    <button  class="uk-margin-top uk-margin-remove-bottom uk-button uk-width-1-1@s  uk-width-1-3@m uk-align-center  " style="color: white;">สร้างประกาศงาน </button>
                                </div>
                                
                            </div>
                        </form>
            
            <p class="additionalTxt  uk-text-center" > <a class="uk-button-text additionalTxt"  href=" {% url 'employer_search' %}">   ยังไม่ลงประกาศงานตอนนี้ </a> </p>
            
            <br>
            
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>

<!-- </div> -->

<script>
   $('#timepicker1').timepicker();


 $('#timepicker2').timepicker();



  var eye = document.getElementById("disabled_eyes");
var ear = document.getElementById("disabled_ears");
var body = document.getElementById("disabled_body");
ear.style.display = "none";
body.style.display = "none";

$("#disability_cate").change(function() {

    if ($(this).val() == "ทางการมองเห็น") {
        eye.style.display = "block";
        ear.style.display = "none";
        body.style.display = "none";

    } else if ($(this).val() == "ทางการได้ยินหรือการสื่อความหมาย") {
        eye.style.display = "none";
        ear.style.display = "block";
        body.style.display = "none";

    } else {
        eye.style.display = "none";
        ear.style.display = "none";
        body.style.display = "block";


    }

});
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function(e) {
$('#blah').attr('src', e.target.result);
}
reader.readAsDataURL(input.files[0]);
}
}
$("#imgInp").change(function() {
readURL(this);
});
</script>
{% endblock %}
<!-- </div> -->