{% extends 'base.html' %} {% load static %}{% load widget_tweaks %} {% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <style>
  .additionalTxt{
  color: #C4C4C4;
  }
  .link{
  color: #47CCA6;
  }
  .strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  }
  .strike > span {
  position: relative;
  display: inline-block;
  }
  .strike > span:before,
  .strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #c6c6c6;
  }
  .strike > span:before {
  right: 100%;
  margin-right: 15px;
  }
  .strike > span:after {
  left: 100%;
  margin-left: 15px;
  }
  .imgCropProfile{
  width: 100px;
  height: 100px;
  overflow: hidden;
  position:  relative;
  border-radius: 50%;
  /*align-items: center;*/
  }
  
  .inImgProfile{
  width: 100px;
  height: 100px;
  object-fit: cover;
  }
  .imgCrop{
  width: 80%;
  height: 200px;
  overflow: hidden;
  position:  relative;
  }
  .inImg{
  position: absolute;
  width: 80%;
  height: 200px;
  object-fit: cover;
  }
  .fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  position: relative;
  }
  .logo1{
  position:absolute;
  left: 50%;
  top:20px;
  margin-left: -100px;
  z-index: 20;
  
  }
  .box1{
  background-color:#0090C1;
  height: 250px;
  /*margin-bottom: 10px; */
  }.box2{
  background-color: white;
  height: 120px;
  /*margin-bottom: 10px; */
  }
  .card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .card .card-heading {
  padding: 0 20px;
  margin: 0;
  }
  .card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
  }
  .card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  }
  .card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
  }
  .card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  }
  .card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
  }
  .card .card-body {
  padding: 0 20px;
  margin-top: 20px;
  }
  .card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
  }
  .card .card-media img {
  max-width: 100%;
  max-height: 100%;
  }
  .card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
  }
  .card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
  }
  .card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
  }
  .card .card-comments .comments-collapse-toggle a,
  .card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  .card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
  }
  .card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
  }
  .card.people:first-child {
  margin-left: 0;
  }
  .card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
  }
  .card.people .card-top.green {
  background-color: #53a93f;
  }
  .card.people .card-top.blue {
  background-color: #427fed;
  }
  .card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
  }
  .card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
  }
  .card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: white;
  }
  .card.hovercard .cardheader {
  background: url("{% static "images/pbg.jpg" %}")  ;
  background-size: cover;
  height: 230px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  }
  .card.hovercard .avatar {
  position: relative;
  top: -70px;
  margin-bottom: -50px;
  object-fit: cover;
  /*position: absolute;*/
  }
  .card.hovercard .avatar img {
  width: 140px;
  height: 140px;
  max-width: 150px;
  max-height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
  }
  .card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
  }
  .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

  .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
  </style>
  <!-- style="width: 100px;height: 100px" -->
  <div class="container ">
    
    
    <div class="uk-card uk-card-default  uk-margin-top" >
      
      
      
      <div class="card hovercard"  >
        <div class="cardheader">
          
        </div>
        <div class="avatar">
          <img src=" {{job.company_image.url}}" class="inImgProfile"  alt="">
        </div>
        <div class="uk-text-center ">
           <div class="info uk-margin-bottom">
                   <h2 class="uk-text-large uk-margin-remove-bottom uk-margin"> {{job.company}}</h2>
                    <div class="desc">{{job.email}}</div>
                    <div class="desc "> {% if company.website  %}
  {{company.website }} 
{% endif %} </div>
                </div>
          

   
         
          <label for="  "></label>
          {% if status == "ส่งคำเชิญ" %}
            
            
            <a href="{% url "confirm_job" dis job.id %}" class="uk-button uk-button-default btn-active " type="button">ตอบรับคำเชิญ</a>
            <!-- <a href="" class="uk-button uk-button-default" type="button">เพิกเฉย</a> -->
            
            {% elif status == "ตอบรับคำเชิญ" %}
            <button class="uk-button uk-button-default " type="button" disabled>
            <i class="fa fa-check" aria-hidden="true"></i>  ตอบรับคำเชิญ</button>
            {% elif status == "ยังไม่ส่งคำเชิญ" %}
            <a href="{% url "apply_job" dis job.id %}" class="uk-button uk-button-default btn-active " type="button">สมัครงาน</a>
            {% elif status == "สมัครงาน" %}
            <button class="uk-button uk-button-default " type="button" disabled>
            <i class="fa fa-check" aria-hidden="true"></i>  สมัครงานแล้ว</button>
          {% endif %}
        </div>
        
        
        
      </div>
      
      <div class="uk-container ">   <hr>
        
        <h2 class="uk-heading-bullet uk-margin-remove-top ">รายละเอียดงาน </h2>
        <table class="uk-table">
          
          <tbody>
            <tr>
              <td class="uk-width-1-6">รายละเอียดงาน:</td>
              <td class="uk-table-expand">{{job.detail}}</td>
              
            </tr>
            <tr>
              <td class="uk-width-1-6">ประเภทความพิการ:</td>
              <td class="uk-table-expand">{{job.disability_cate}}</td>
              
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td class="uk-width-1-6">คุณสมบัติ:</td>
              <td class="uk-table-expand">
                <ul ><li> เพศ {{sex}}</li>
                <li> อายุ {{job.age1}} - {{job.age2}} ปี</li>
                <li>{{job.qulification}}</li>
                <!--   <li>UI design in both Sketch and Photoshop</li>
                <li>Working hours 9 AM - 5 PM  Monday-Friday</li> -->
              </ul>
            </td>
            
          </tr>
          
          <tr>
            <td class="uk-width-1-6">เงินเดือน:</td>
            <td class="uk-table-expand">{{job.salary1}} - {{job.salary2}} บาท</td>
            
          </tr>
          <tr>
            <td class="uk-width-1-6">สวัสดิการ:</td>
            <td class="uk-table-expand">{{job.welfare}}</td>
            
          </tr>
          <tr>
            <td class="uk-width-1-6">การเดินทาง:</td>
            <td class="uk-table-expand">{{job.traveling}}</td>
            
          </tr>
          <tr>
            <td class="uk-width-1-6">ติดต่อฝ่ายบุคคล:</td>
            <td class="uk-table-expand">
<ul ><li> {{job.phone_no}}</li>     <li>{{company.fax}} </li>
                <li> {{job.email}}</li>
             <li> {{company.address}}</li>

              </ul>

            </td>
            
          </tr>
           
        </tbody>
      </table>
      <hr>
      <h2 class="uk-heading-bullet uk-margin-remove-top ">รายละเอียดบริษัท </h2>
      <table class="uk-table">
        
        <tbody>
          <tr>
            <td class="uk-width-1-6">คำอธิบาย:</td>
            <td class="uk-table-expand">{{company.info}}</td>
            
          </tr>
          
        </tbody>
      </table>
    </div>
    <br>
    <br>
  </div>
  <br>
  <br>
</div>
<!-- container -->
<br>

{% endblock %}