{% extends 'base.html' %} {% load static %}{% load widget_tweaks %}
{% block content %}
    <style>
    
    
    /* body,html{
    background-color: #EEEEEE;
    }
    */
    input[type=text],input[type=password],input[type=email]{
    /*background-color: #FAFFBD;*/
    }
    
    .inImg{
    /*position: absolute;*/
    
    width: 100%;
    height: 100px;
    object-fit: cover;
    }
    .imgCrop{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position:  relative;
    border-radius: 50%;
    }
    .nav-inSearch{
    background-color: #47CCA6;
    color: white;
    }
    .linkInNave{
    color: white;
    }
    .tabFont{ font-size: 1.12em; }
    .imgRadius{
    border-radius: 50%;
    }
    b{
    color: #616161;
    }
    
    .disabilityText{
    color: #47CCA6;
    }
    </style>
    
    <!-- <div class="container" > -->
    <!--  <br>
    -->
    
    
    <!--
    <nav  class=" nav-inSearch" uk-navbar>
        <div class="container" >
            <div class="uk-navbar-left ">
                <ul class="uk-navbar-nav  uk-margin-remove-bottom">
                    <li class="uk-active"><a href="#" ><h4 class="linkInNave">งานที่สมัคร</h4></a></li>
                    <li class=""><a href="#" ><h4 class="linkInNave">ได้รับการเชิญ</h4></a></li>
                    
                </ul>
                
            </div>
        </div>
    </nav> -->
    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div id="alertMsg" class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
<div class="container nav-desktop"> <br>
    <div class="uk-card uk-card-default uk-card-body">
        <ul uk-tab >
            <!--  -->
            <li><a href="#" style="font-size: 1.12em;">  ค้นหางาน</a></li>
            <li><a href="#" style="font-size: 1.12em;">งานที่สมัคร</a></li>
            <li><a href="#" style="font-size: 1.12em;">ได้รับการเชิญ</a></li>
        </ul>
        <!-- <button type="submit" href="" class="uk-search-icon-flip" uk-search-icon></button> -->
        <ul class="uk-switcher uk-margin">
            <li>
                <div class="uk-container " style="background-color: #065A63;">
                    <h4 class="uk-margin-top" style="color: white">ยินดีต้อนรับสู่ระบบค้นหางาน !</h4>
                    <div class="uk-child-width-1-1@s uk-child-width-1-1@m " uk-grid>
                        <form action="{% url 'disable_search_job' %}" method="GET" class="uk-search uk-search-default " >
                            {% csrf_token %}
                            
                            <div class="uk-grid-small " uk-grid>
                                
                                
                                
                                <div class="uk-width-1-4@m " >
                                    
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" ><i class="fa fa-search" aria-hidden="true"></i></span>
                                            <input name="job_title" class="uk-input" value="{{job_title_th}}" type="search" placeholder="ชื่อตำแหน่งงาน">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" ><i class="fa fa-list" aria-hidden="true"></i></span>
                                            <input name="disability_type" value="{{dis_cate}}" class="uk-input" type="search" placeholder="ประเภทความพิการ">
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>
                                <div class="uk-width-1-2@m uk-margin-remove-right">
                                    <div  class="uk-margin ">
                                        <!-- <div  class="uk-margin-bottom uk-width-1-1@m  " uk-grid> -->
                                        <div class="form-group ">
                                            <div class="input-group">
                                                <span class="uk-form-icon" ><i class="fa fa-btc" aria-hidden="true"></i></span>
                                                <input name="salary1" value="{{salary1}}" class="uk-input" type="number" placeholder="หน่วย THB 10000 ">
                                                <div class="input-group-addon">
                                                    ถึง
                                                </div>
                                                <input name="salary2" value="{{salary2}}" class="uk-input " type="number" placeholder="25000 ">
                                            </div>
                                        </div>
                                        
                                        <!-- </div> -->
                                        
                                    </div>
                                    
                                    <div class="">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                            <input name="location" value="{{location}}" class="uk-input" type="search" placeholder="สถานที่ตั้ง (กรุงเทพมหานคร)">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-6@m ">
                                    
                                    <button  type="submit" class="uk-button  " style="color: white;">ค้นหางาน</button>
                                    
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    <br>
                </div>
                <!-- <hr> -->
                
                {% if output_search  %}
                    <!-- <hr>  -->
                    <br>
                    <h2 class="uk-heading-bullet uk-margin-remove-top">งานที่แนะนำ </h2>
                    <br>
                    <div class="container ">
                        {% for o in output_search %}
                            <div class="uk-child-width-1-1@s uk-child-width-1-2@m " uk-grid>
                                <div class="uk-width-auto@m  ">
                                    <a class="uk-link-text" href="{% url 'job_detail' o.name o.job_id %}">
                                        <div class="imgCrop">
                                            <img class=" uk-align-center imgRadius inImg"   src="{{o.url_pic}}" alt="your image" />
                                        </div>
                                    </a>
                                    
                                </div>
                                <div class="uk-width-expand@m  ">
                                    <div  uk-grid>
                                        <div class="uk-width-1-2@m uk-width-1-2@s">
                                            <a class="uk-link-text" href="{% url 'job_detail' o.name o.job_id %}">  <b>{{o.name}}</b>  </a>
                                            <p></p>
                                            <label class="">{{o.dis_cate}}</label>
                                        <p class="uk-margin-remove-top"><i class="fa fa-money " aria-hidden="true"></i> {{o.salary1}} - {{o.salary2}} บาท/เดือน</span>
                                        <span class="uk-margin-left">
                                        <b><i class="fa fa-map-marker" aria-hidden="true"></i></b> {{o.province}}</span></b>
                                        <p class=" ">{{o.detail | safe}}</p>
                                    </div>
                                    <div class="uk-width-1-2@m uk-width-1-2@s ">
                                        <div class="uk-margin uk-align-right">
                                            
                                            {% if o.save %}
                                                
                                                <span>
                                                <button   id="{{o.job_id}}" type="submit" class="uk-button uk-button-default uk-button-small isSave" ><i class="fa fa-check"></i>  บันทึกแล้ว</button></span>
                                                <p></p>
                                                
                                            {% else %}
                                                
                                                
                                                <span>
                                                    <button   id="{{o.job_id}}" type="submit" class="uk-button uk-button-default uk-button-small isSave" >บันทึก</button>
                                                </span>
                                                <p></p>
                                                
                                                
                                            {% endif %}
                                            
                                            <p class="uk-margin-remove-bottom">ผลลัพธ์การจับคู่</p>
                                            <p class="score uk-margin-remove-top"> {{o.score}} %</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            {% endif %}
            {% if search_job_list  %}
                <div id="result" >
                    {% include "disable_search_result.html" with output_search=search_job_list %}
                </div>
            {% endif %}
            <!-- <hr> -->
            <!-- <h2 class="uk-heading-bullet uk-margin-remove-top">งานที่แนะนำ </h2> -->
            <!-- <br> -->
            <!--
            <div class="container">
                <div class="uk-child-width-1-1@s uk-child-width-1-2@m " uk-grid>
                    <div class="uk-width-auto@m  ">
                        <img class="imgCrop uk-align-center"  style="width: 80px;height: 80px" src="{% static "images/wcb.jpg" %}" alt="your image" />
                        
                    </div>
                    <div class="uk-width-expand@m  ">
                        <div  uk-grid>
                            <div class="uk-width-1-2@m uk-width-1-2@s">
                                <label for="">Web Courses Bangkok     <p>Position: </p></label>
                            </div>
                            <div class="uk-width-1-2@m uk-width-1-2@s ">
                                <div class="uk-margin uk-align-right">
                                    <button  type="submit" class="uk-button uk-button-default  uk-button-small " >รายละเอียดเพิ่มเติม</button> <span> <button  type="submit" class="uk-button uk-button-default uk-button-small " >บันทึก</button></span>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <br>
                        <span class="glyphicon glyphicon-eye-close uk-margin-right" aria-hidden="true"> </span><span class="uk-margin-right"> 8000 - 10,000 บาท/เดือน</span>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true">Rama VI</span>
                        
                        
                        <p> </p>
                        <p class="uk-text-muted">I am ready for the job and I hope you will give me a chance to work for you or with your team and company. I can do anything about maintenance.</p>
                    </div>
                </div>
                <hr>
                <div class="uk-child-width-1-1@s uk-child-width-1-2@m " uk-grid>
                    <div class="uk-width-auto@m  ">
                        <img class="imgCrop uk-align-center"  style="width: 80px;height: 80px" src="{% static "images/cpall.png" %}" alt="your image" />
                        
                    </div>
                    <div class="uk-width-expand@m  ">
                        <div  uk-grid>
                            <div class="uk-width-1-2@m uk-width-1-2@s">
                                <label for="">CP All    <p>Position: </p></label>
                            </div>
                            <div class="uk-width-1-2@m uk-width-1-2@s ">
                                <div class="uk-margin uk-align-right">
                                    <button  type="submit" class="uk-button uk-button-default  uk-button-small " >รายละเอียดเพิ่มเติม</button> <span> <button  type="submit" class="uk-button uk-button-default uk-button-small " >บันทึก</button></span>
                                </div>
                                
                            </div>
                        </div>
                        <br>
                        <span class="glyphicon glyphicon-eye-close uk-margin-right" aria-hidden="true"> </span><span class="uk-margin-right"> 8000 - 10,000 บาท/เดือน</span>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true">สีลม</span>
                        
                        
                        <p> </p>
                        <p class="uk-text-muted">I have a chance to training I believe that I can do everything. Just wait for the opportunity</p>
                    </div>
                </div>
            </div> -->
            <hr>
            <h2 class="uk-heading-bullet uk-margin-remove-top">กิจกรรมที่น่าสนใจ </h2>
        </li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.
        </li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
    </ul>
    
</div>
</div>
<div class="nav-mobile ">
<div class="uk-card uk-card-default uk-card-body">
    <ul uk-tab>
        <li><a href="#">ค้นหางาน</a></li>
        <li><a href="#">งานที่สมัคร</a></li>
        <li><a href="#">ได้รับการเชิญ</a></li>
    </ul>
    <!-- <button type="submit" href="" class="uk-search-icon-flip" uk-search-icon></button> -->
    <ul class="uk-switcher uk-margin">
        <li><p class="uk-text-muted">ยินดีต้อนรับสู่ระบบค้นหางาน !</p>
        <div class="uk-child-width-1-1@s uk-child-width-1-1@m " uk-grid>
            <form action="" method="POST" class="uk-search uk-search-default " >
                <div class="uk-child-width-1-1@s uk-child-width-1-4@m uk-grid-small " uk-grid>
                    {% csrf_token %}
                    
                    
                    <div >
                        
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" ><i class="fa fa-search" aria-hidden="true"></i></span>
                                <input name="job_title" class="uk-input" type="search" placeholder="ชื่อตำแหน่งงาน">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" ><i class="fa fa-list" aria-hidden="true"></i></span>
                                <input name="disability_type" class="uk-input" type="search" placeholder="ประเภทความพิการ">
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    <div >
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" ><i class="fa fa-btc" aria-hidden="true"></i></span>
                                <input name="salary" class="uk-input" type="search" placeholder="10,000 - 25,000 ">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <input name="location" class="uk-input" type="search" placeholder="สถานที่ตั้ง">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button  type="submit" class="uk-button  " style="color: white;">ค้นหางาน</button>
                        
                    </div>
                </div>
                
            </form>
        </div>
        <hr>
        <h2 class="uk-heading-bullet uk-margin-remove-top">งานที่แนะนำ </h2>
        
        <article class="uk-comment uk-visible-toggle">
            <header class="uk-comment-header uk-position-relative">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="imgCrop" src="{% static "images/cpall.png" %}" style="width: 80px;height: 80px" alt="">
                        
                    </div>
                    <div class="uk-width-expand ">
                        <div class="uk-magin">
                            <button  type="submit" class="uk-button uk-button-default uk-button-small   " >อ่านเพิ่มเติม
                            </button>
                            <button  type="submit" class="uk-button uk-button-default uk-button-small " >บันทึก
                            </button>
                        </div>
                        
                    </div>
                </div>
                
            </header>
            <div class="uk-comment-body">
                <label for="" class="">Web Courses Bangkok     <p>Position: </p></label>
                <label for=""> <p>  <span class="glyphicon glyphicon-eye-close uk-margin-right" aria-hidden="true"> </span> <span class="uk-margin-right"> 8000 - 10,000 บาท/เดือน</span></p>
                
                <p> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> สีลม</span>
            </p></label>
            <p class="uk-text-muted">I have a chance to training I believe that I can do everything. Just wait for the opportunity</p>
            
            
        </div>
    </article>
    <hr>
    <div class="uk-column-1-1@s " >
        
        <div class=" uk-width-1-2@s">
            <div> <img class="imgCrop "  style="width: 80px;height: 80px" src="{% static "images/cpall.png" %}" alt="your image" />
            </div>
            
        </div>
        <br>
        <div >
            <label for="" class="">Web Courses Bangkok     <p>Position: </p></label>
            
        </div>
        <div >
            
            <p >
                <span class="glyphicon glyphicon-eye-close uk-margin-right" aria-hidden="true"> </span> <span class="uk-margin-right"> 8000 - 10,000 บาท/เดือน</span>
                
                <p> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> สีลม</span>
            </p></p>
            
            
            <p class="uk-text-muted">I have a chance to training I believe that I can do everything. Just wait for the opportunity</p>
            
            
            
        </div>
        <!-- </div> -->
        
        <div >
            <button  type="submit" class="uk-button uk-button-default uk-button-small   " >อ่านเพิ่มเติม
            </button>
            <button  type="submit" class="uk-button uk-button-default uk-button-small   " >บันทึก
            </button>
        </div>
        <!-- <div class="uk-width-1-1@s">
            <button  type="submit" class="uk-button uk-button-default uk-button-small   " >สมัครงาน
            </button>
        </div>  -->
        <!-- <button  type="submit" class="uk-button uk-button-default uk-button-small t " ></button> -->
        <!-- <button  type="submit" class="uk-button uk-button-default uk-width-1-1" >รายละเอียดเพิ่มเติม</button> -->
        <hr>
        <h2 class="uk-heading-bullet uk-margin-remove-top">กิจกรรมที่น่าสนใจ </h2>
    </li>
    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.
    </li>
    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
    
</ul>
</div>
</div>
<br>

<script>
$(document).ready(function(){
$(".isSave").click(function(){
var id = $(this).attr('id');
var title = $(this).text();
if(title == "บันทึก"){
var clicked = true;
var buttons = document.getElementById(id);
buttons.innerHTML = '<i class="fa fa-check"></i> บันทึกแล้ว ';
} else {
var clicked = false;
$(this).text('บันทึก');
}
console.log("click "+title);
console.log("click "+id);
$.ajax({
type: "POST",
url: "{% url 'disable_save_job' %}",
data: {'job_id': id,'title':title, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
dataType: "json",
success: function(response) {
console.log("success");
console.log(response);
// if(print(dis))
}
});
});
});
// });
</script>
{% endblock %}
<!-- <form action="" method="POST" class="uk-search uk-search-default serach-input" >
{% csrf_token %}
<button type="submit" href="" class="uk-search-icon-flip" uk-search-icon></button>
<input  name="search" class="uk-search-input" type="search" placeholder="" >
</form> -->