{% extends 'base.html' %} {% load static %}{% load widget_tweaks %} {% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <div class="form-gap"></div>
  <div class="container">
    
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="uk-margin-remove-bottom"><i class="fa fa-lock fa-5x"></i></h3>
              <h2 class="text-center uk-margin-remove-top">เปลี่ยนพาสเวิร์ด</h2>
              <p class="text-center uk-margin-remove-top">คุณสามารถเเปลี่ยนพาสเวิร์ดของคุณได้ที่นี่</p>
              <div class="panel-body uk-text-left">
                
                <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    
                    <!-- <div class="input-group"> -->
                    <!--   <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                  </div> -->
                  <div  class="uk-margin-bottom ">
                    <label  for=" ">พาสเวิร์ดเก่า</label>
                    {{ form.old_password |add_class:"uk-input "}}
                  </div>
                  <div  class="uk-margin-bottom ">
                    <label class=" "  for=" ">พาสเวิร์ดใหม่</label>
                    {{ form.new_password1 |add_class:"uk-input "}}
                  </div>
                  <div  class="uk-margin-bottom ">
                    <label class=""  for=" ">ยืนยันพาสเวิร์ดใหม่</label>
                    {{ form.new_password2 |add_class:"uk-input "}}
                  </div>
                  <!--   {% if form.errors.password2 %}
                            <p> {{ form.errors.new_password2 }}
                                <br> </p>
                            {% else %}
                            <br> {% endif %} -->
                {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


                  <div class="form-group">
                    <!-- <button type="submit"></button> -->
                   <!--  <button name="order"  class="uk-margin-top uk-button uk-width-1-1@s " style="color: white;"><h2 class="uk-margin-small-top">เปลี่ยนพาสเวิร์ด</h2> </button> -->
                      <button type="submit" class="uk-button uk-button-default btn-active uk-align-center" type="button" >
          เปลี่ยนพาสเวิร์ด</button>
                  </div>
                  
                  <input type="hidden" class="hide" name="token" id="token" value="">
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- <form method="post">
{% csrf_token %}
{{ form }}
<button type="submit">Save changes</button>
</form> -->
<!-- <div class="uk-card uk-card-default">  -->
{% endblock %}
<!-- </div> -->