{% extends 'base2.html' %} {% load static %}{% load widget_tweaks %} {% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <style>
  html{
  background-color: #F9F9F9;
  }
  .additionalTxt{
  color: #C4C4C4;
  }
  .link{
     color: #47CCA6;
}
  .strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  }
  .strike > span {
  position: relative;
  display: inline-block;
  }

  .strike > span:before,
  .strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #c6c6c6;
  }
  .strike > span:before {
  right: 100%;
  margin-right: 15px;
  }
  .strike > span:after {
  left: 100%;
  margin-left: 15px;
  }
  </style>
  <!-- <div class="container"> -->
  <hr class="uk-box-shadow-medium ">
  <div class="" style="margin-top: -20px;">
    <div class="container  " id="home">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body uk-margin-remove">
          <div class="col-md-4 col-md-offset-4">
            <!-- <div class="panel panel-default"> -->
            <!-- <div class="panel-body"> -->
            <!-- <div class="text-center"> -->
            <!-- <h3><i class="fa fa-lock fa-4x"></i></h3> -->
            <h2 class="text-center">Login</h2>
            <br>
            <!-- <p>คุณสามารถเเปลี่ยนพาสเวิร์ดของคุณได้ที่นี่</p> -->
            <div class="panel-body uk-text-left">
              <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <div  class="uk-margin-bottom ">
                    <!-- <label  for=" ">พาสเวิร์ดเก่า</label> -->
                    {{form.username |add_class:"uk-input"|attr:"placeholder:Username or Email"}}
                  </div>
                  <div  class="uk-margin-bottom ">
                    <!-- <label class=" "  for=" ">พาสเวิร์ดเใหม่</label> -->
                    {{form.password |add_class:"uk-input"|attr:"placeholder:Password " }}
                  </div>
                  <div class="form-group">
                    <br>
                    <!-- <button type="submit"></button> -->
                    <button   class="uk-margin-top uk-margin-remove-bottom uk-button uk-width-1-1@s  uk-width-1-3@m uk-align-center  " style="color: white;"><h2 class="uk-margin-small-top">Login</h2> </button>
                  </div>
                  <!-- <input type="hidden" class="hide" name="token" id="token" value=""> -->
                </div>
              </form>
            </div>
            <p class="additionalTxt " >You don't have an account? <a class="uk-button-text link"  href=" ">   Sign up here</a> </p>
            <br>
<div class="strike">
            <span>OR</span>
          </div>
          <br>
          <div class="uk-text-center">
              <a href=" " class="uk-margin-remove-top "><img style="height: 36px; width: 36px" class="uk-margin-small-bottom" src="{% static "images/gg.png" %}"/>  
</a>
          </div>
                        

            <!-- </div> -->
          <!-- </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>
<!-- </div> -->
{% endblock %}
<!-- </div> -->
