{% extends 'base.html' %} {% load static %}{% load widget_tweaks %} {% block content %}
    <style type="text/css">
    .errorlist {
    color: #EF5350;
    }
    input[type=text],
    input[type=password],
    input[type=email] {
    background-color: #FAFFBD;
    }
    .title {
    color: black;
    }
    .uk-button-default:hover {
    background-color: #FFBF00;
    color: white;
    }
    .uk-button-default {
    color: #FFBF00;
    }
    .active {
    /*background-color: #6ACAD1;*/
    background-color: #50E3B9;
    color: white;
    }
    
    .click-add {
    /*background-color: #6ACAD1;*/
    color: #FFBF00;
    font-weight: bold;
    }
    .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .card .card-heading {
    padding: 0 20px;
    margin: 0;
    }
    .card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
    }
    .card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    }
    .card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
    }
    .card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    }
    .card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
    }
    .card .card-body {
    padding: 0 20px;
    margin-top: 20px;
    }
    .card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
    }
    .card .card-media img {
    max-width: 100%;
    max-height: 100%;
    }
    .card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
    }
    .card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
    }
    .card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
    }
    .card .card-comments .comments-collapse-toggle a,
    .card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
    }
    .card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
    }
    .card.people:first-child {
    margin-left: 0;
    }
    .card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
    }
    .card.people .card-top.green {
    background-color: #53a93f;
    }
    .card.people .card-top.blue {
    background-color: #427fed;
    }
    .card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
    }
    .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
    }
    .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: white;
    }
    .card.hovercard .cardheader {
    background: url("{% static "images/pbg.jpg" %}")  ;
    background-size: cover;
    height: 230px;
    margin-right: 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center;
    }
    .card.hovercard .avatar {
    position: relative;
    top: -70px;
    margin-bottom: -50px;
    object-fit: cover;
    /*position: absolute;*/
    }
    .card.hovercard .avatar img {
    width: 140px;
    height: 140px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
    }
    .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
    }
    .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
    }
    .inImgProfile{
    width: 100px;
    height: 100px;
    object-fit: cover;
    }
    
    .divide {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFBF00;
    padding: 0;
    }
    label {
    font-size: 14px;
    color: #9E9E9E;
    }
    #btn-inline,#p-inline{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    }
    .container{
    width: 95%;
    }
    </style>
    
    <!-- nav-desktop -->
    <div class="uk-background-muted ">
        <br>
        
        <div class="container">
            
            <div uk-grid>
                
                <div class="uk-width-1-4@m uk-text-center">
                    
                    <div class="uk-card uk-card-default uk-card-body  uk-padding-remove uk-margin-right ">
                        
                        <table class="uk-table uk-table-divider" style="   border: 1px solid #50E3B9;" >
                            
                            <tbody>
                                <tr >
                                    <td class="click-about"><a class="uk-link-reset " href="" > ข้อมูลของฉัน</a></td>
                                </tr>
                                <tr>
                                    <td class="click-billing"><a class="uk-link-reset " href="" > วิธีการเก็บเงิน</a></td>
                                </tr>
                                <tr>
                                    <td class="click-password"><a class="uk-link-reset " href="" >พาสเวิร์ดและความปลอดภัย</a></td>
                                    
                                </tr >
                                <tr >
                                    <td class="click-setting-noti"><a class="uk-link-reset " href=""> การตั้งค่าการแจ้งเตือน</a></td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                        <!-- </div> -->
                        
                    </div>
                    
                </div>
                <div class="uk-width-3-4@m uk-grid-match " uk-grid>
                    
                    <div class="uk-card uk-card-default" >
                        
                        <!-- <div class="uk-width-1-1@s"> -->
                            
                            <div class="card hovercard"  >
                                <div class="cardheader">
                                    
                                </div>
                                <div class="avatar">
                                    <img src=" {{dis.profile.profile_picture.url}}" class="inImgProfile"  alt="">
                                </div>
                                <div class="uk-text-center ">
                                    <div class="info uk-margin-bottom">
                                        <h2 class="uk-text-large uk-margin"> {{dis.first_name}} {{dis.last_name}}</h2>
                                        <div class="desc"><p>{{dis.job_exp}}</p></div>
                                        <div class="desc "> {% if company.website  %}
                                            {{company.website }}
                                        {% endif %} </div>
                                    </div>
                                    
                                    
                                    
                                    <label for="  "></label>
                                    {% if status == "ส่งคำเชิญ" %}
                                        
                                        
                                        <a href="{% url "confirm_job" dis job.id %}" class="uk-button uk-button-default btn-active " type="button">ตอบรับคำเชิญ</a>
                                        <!-- <a href="" class="uk-button uk-button-default" type="button">เพิกเฉย</a> -->
                                        
                                        {% elif status == "ตอบรับคำเชิญ" %}
                                        <button class="uk-button uk-button-default " type="button" disabled>
                                        <i class="fa fa-check" aria-hidden="true"></i>  ตอบรับคำเชิญ</button>
                                        {% elif status == "ยังไม่ส่งคำเชิญ" %}
                                        <a href="{% url "apply_job" dis job.id %}" class="uk-button uk-button-default btn-active " type="button">สมัครงาน</a>
                                        {% elif status == "สมัครงาน" %}
                                        <button class="uk-button uk-button-default " type="button" disabled>
                                        <i class="fa fa-check" aria-hidden="true"></i>  สมัครงานแล้ว</button>
                                    {% endif %}
                                </div>
                                
                                
                                
                            </div>
                            
                            <div class="uk-container ">   <hr>
                                
                                <h2 class="uk-heading-bullet uk-margin-remove-top ">รายละเอียดงาน </h2>
                                <table class="uk-table">
                                    
                                    <tbody>
                                        <tr>
                                            <td class="uk-width-1-6">รายละเอียดงาน:</td>
                                            <td class="uk-table-expand">{{job.detail | safe}}</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-width-1-6">ประเภทความพิการ:</td>
                                            <td class="uk-table-expand">{{job.disability_cate}}</td>
                                            
                                        </tr>
                                        <tr>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-width-1-6">คุณสมบัติ:</td>
                                            <td class="uk-table-expand">
                                                <ul ><li> เพศ {{sex}}</li>
                                                <li> อายุ {{job.age1}} - {{job.age2}} ปี</li>
                                                {% for q in qualification_list %}
                                                    {% if q %}
                                                        <li>{{q }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                <!--   <li>UI design in both Sketch and Photoshop</li>
                                                <li>Working hours 9 AM - 5 PM  Monday-Friday</li> -->
                                            </ul>
                                        </td>
                                        
                                    </tr>
                                    
                                    <tr>
                                        <td class="uk-width-1-6">เงินเดือน:</td>
                                        <td class="uk-table-expand">{{job.salary1}} - {{job.salary2}} บาท</td>
                                        
                                    </tr>
                                    
                                    
                                    <tr>
                                        <td class="uk-width-1-6">ติดต่อฝ่ายบุคคล:</td>
                                        <td class="uk-table-expand">
                                            <ul ><li> {{job.phone_no}}</li>
                                            <li>{{company.fax}} </li>
                                            <li> {{job.email}}</li>
                                            <li> {{company.address}}</li>
                                        </ul>
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table></div>
                        <hr>
                        <h2 class="uk-heading-bullet uk-margin-remove-top ">รายละเอียดบริษัท </h2>
                        <table class="uk-table">
                            
                            <tbody>
                                <tr>
                                    <td class="uk-width-1-6">คำอธิบาย:</td>
                                    <td class="uk-table-expand">{{company.info}}</td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
               
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
$("#alertMsg").fadeOut(5000);
if ($('#alerId').css('display') == 'block') {
swal("Success", "สมัครบัญชีผู้ใช้สำเร็จแล้ว", "success");
}
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "none");
$("#about").css("display", "block");
$("#coupon").css("display", "none");
$(".click-about").addClass( "active" );
$(".click-billing").removeClass("active");
$(".click-password").removeClass("active");
$(".click-setting-noti").removeClass("active");
// $(".click-add").removeClass("active");
$(document).ready(function() {
$('.icon-click').click(function() {
$("i", this).toggleClass("fa-angle-left fa-angle-down");
});
$(".click-about").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "block");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
$(".click-about").addClass( "active" );
$(".click-love").removeClass("active");
$(".click-review").removeClass("active");
$(".click-order").removeClass("active");
// $(".click-add").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-love").click(function(){
$("#love").css("display", "block");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "none");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
$(".click-love").addClass( "active" );
$(".click-about").removeClass("active");
$(".click-review").removeClass("active");
$(".click-order").removeClass("active");
// $(".click-add").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-order").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "block");
$("#review").css("display", "none");
// $("#add").css("display", "none");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
$(".click-order").addClass( "active" );
$(".click-about").removeClass("active");
$(".click-review").removeClass("active");
$(".click-love").removeClass("active");
// $(".click-add").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-review").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "block");
// $("#add").css("display", "none");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
$(".click-review").addClass( "active" );
$(".click-about").removeClass("active");
$(".click-order").removeClass("active");
$(".click-love").removeClass("active");
// $(".click-add").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-add").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "block");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
// $(".click-add").addClass( "active" );
$(".click-about").removeClass("active");
$(".click-order").removeClass("active");
$(".click-love").removeClass("active");
$(".click-review").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-coupon").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "none");
$("#about").css("display", "none");
$("#coupon").css("display", "block");
// $(".click-add").removeClass( "active" );
$(".click-about").removeClass("active");
$(".click-order").removeClass("active");
$(".click-love").removeClass("active");
$(".click-review").removeClass("active");
$(".click-coupon").addClass("active");
});
});
</script>
{% endblock %}