{% extends 'base.html' %} {% load static %}{% load widget_tweaks %} {% block content %}
    <style type="text/css">
    .errorlist {
    color: #EF5350;
    }
    input[type=text],
    input[type=password],
    input[type=email] {
    background-color: #FAFFBD;
    }
    .title {
    color: black;
    }
    
    .active {
    /*background-color: #6ACAD1;*/
    background-color: #089B94;
    color: white;
    }
    
    .click-add {
    /*background-color: #6ACAD1;*/
    color: #FFBF00;
    font-weight: bold;
    }
    .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .card .card-heading {
    padding: 0 20px;
    margin: 0;
    }
    .card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
    }
    .card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    }
    .card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
    }
    .card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    }
    .card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
    }
    .card .card-body {
    padding: 0 20px;
    margin-top: 20px;
    }
    .card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
    }
    .card .card-media img {
    max-width: 100%;
    max-height: 100%;
    }
    .card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
    }
    .card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
    }
    .card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
    }
    .card .card-comments .comments-collapse-toggle a,
    .card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
    }
    .card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
    }
    .card.people:first-child {
    margin-left: 0;
    }
    .card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
    }
    .card.people .card-top.green {
    background-color: #53a93f;
    }
    .card.people .card-top.blue {
    background-color: #427fed;
    }
    .card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
    }
    .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
    }
    .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: white;
    }
    .card.hovercard .cardheader {
    background: url("{% static "images/pbg.jpg" %}")  ;
    background-size: cover;
    height: 230px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center;
    }
    .card.hovercard .avatar {
    position: relative;
    top: -70px;
    margin-bottom: -50px;
    object-fit: cover;
    /*position: absolute;*/
    }
    .card.hovercard .avatar img {
    width: 140px;
    height: 140px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
    }
    .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
    }
    .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
    }
    .inImgProfile{
    width: 100px;
    height: 100px;
    object-fit: cover;
    }
    
    .divide {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFBF00;
    padding: 0;
    }
    label {
    font-size: 14px;
    color: #9E9E9E;
    }
    #btn-inline,#p-inline{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    }
    .container{
    width: 95%;
    }
    </style>
    
     {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div id="alertMsg" class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
    <!-- nav-desktop -->
    <div class="uk-background-muted ">
        <br>
        
        <div class="container">
            
            <div uk-grid>
                
                <div class="uk-width-1-4@m uk-text-center">
                    
                    <div class=" uk-card uk-card-default uk-card-body  uk-padding-remove uk-margin-right   ">
                        
                        <table class="uk-table uk-table-divider"  >
                            
                            <tbody>
                                <tr >
                                    <td class="click-detail"><a  class="uk-link-reset "  > ข้อมูลของฉัน</a></td>
                                </tr>
                                
                                <tr>
                                    <td class="click-password" ><a href="" class="uk-link-reset " >พาสเวิร์ดและความปลอดภัย</a></td>
                                    
                                </tr >
                                <tr >
                                    <td class="click-noti" ><a class="uk-link-reset ">การแจ้งเตือน</a></td>
                                    
                                </tr>
                                <tr >
                                    <td><a class="uk-link-reset " href="{% url 'logout' %}">ออกจากระบบ</a></td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                        <!-- </div> -->
                        
                    </div>
                    
                </div>
                <div class="uk-width-3-4@m" uk-grid>
                    
                    <div class="uk-card uk-card-default uk-padding-remove-left uk-width-1-1" >
                        
                        <div id="detail">
                            
                            <div class="card hovercard  uk-margin-remove-top "  >
                                <div class="cardheader">
                                    
                                </div>
                                <div class="avatar">
                                    <img src=" {{dis.profile.profile_picture.url}}" class="inImgProfile"  alt="">
                                </div>
                                <div class="uk-text-center ">
                                    <div class="info uk-margin-bottom">
                                        <h2 class="uk-text-large uk-margin"> {{dis.first_name}} {{dis.last_name}}</h2>
                                        
                                        {% if dis.job_exp  %}
                                            <div class="desc"><p><i class="fa fa-briefcase" aria-hidden="true"></i> {{dis.job_exp}}</p></div>
                                        {% endif %}
                                    </div>
                                    
                                    
                                </div>
                                
                                
                                
                            </div>
                            <div class="uk-container ">
                                <hr >
                                
                                <h2 class="uk-heading-bullet uk-margin-remove-top ">ข้อมูลส่วนตัว </h2>
                                <table class="uk-table ">
                                    
                                    <tbody>
                                        <tr >
                                            <td class="uk-width-1-5 uk-text-right">เพศ : </td>
                                            <td class="uk-table-expand"> {{dis.sex}}</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right ">อายุ : </td>
                                            <td class="uk-table-expand">{{dis.age}}</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right ">ประเภทความพิการ : </td>
                                            <td class="uk-table-expand">{{dis.disability_cate}}</td>
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td class="uk-text-right">งานที่สนใจ :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.job_interest}}
                                            </td>
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td class="uk-text-right">เงินเดือนที่คาดหวัง :</td>
                                            <td class="uk-table-expand">{{dis.expected_salary1}} - {{dis.expected_salary2}} บาท</td>
                                            
                                        </tr>
                                        
                                        
                                        <tr>
                                            <td class="uk-text-right">ความสามารถ :</td>
                                            <td class="uk-table-expand">
                                                <ul>
                                                    <li> {{dis.talent}}</li>
                                                    <li>{{dis.talent2}} </li>
                                                    <li> {{dis.talent3}}</li>
                                                </ul>
                                            </td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <hr>
                                <h2 class="uk-heading-bullet uk-margin-remove-top ">ข้อมูลติดต่อ </h2>
                                <table class="uk-table">
                                    
                                    <tbody>
                                        <tr>
                                            <td class="uk-width-1-5 uk-text-right">อีเมลล์ :</td>
                                            <td class="uk-table-expand">{{dis.email}}</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right">เบอร์โทรศัพท์ :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.phone_no}}
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="uk-text-right">ที่อยู่ :</td>
                                            <td class="uk-table-expand">
                                                
                                                {{dis.address}} {{dis.province}}
                                            </td>
                                            
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="password">
                            
                            <div class="uk-padding-small uk-width-1-1" uk-alert>
                                <div class="uk-container">
                                    <h2>พาสเวิร์ด</h2>
                                </div>
                            </div>
                            <div class="uk-container">
                                
                                <h3 class="uk-float-left"><i class="fa fa-check uk-text-success" aria-hidden="true"></i> ตั้งพาสเวิร์ดเรียบร้อย</h3>
                              <a href="{% url 'change_password' %}">  <button class="uk-button uk-button-default uk-float-right">เปลี่ยนพาสเวิร์ด</button></a>
                            </div>
                            <div class="uk-container">
                                <p class="uk-text-muted">ตั้งพาสเวิร์ดที่คาดเดายาก เพื่อความปลอดภัย</p>
                                
                            </div>
                            <!--  <div class="uk-padding-small uk-width-1-1" uk-alert>
                                <div class="uk-container">
                                    <h2>พาสเวิร์ด</h2>
                                </div>
                            </div> -->
                        </div>
                        <div id="noti">
                            
                            <div class="uk-padding-small " uk-alert>
                                <div class="uk-container">
                                    <h2>รายการแจ้งเตือน</h2>
                                </div>
                            </div>
                            {% for o in noti %}
                                {% if i.is_read %}
                                    <div class="uk-container">
                                        <div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-padding uk-margin-left uk-margin-right" uk-grid>
                                            <div class="uk-width-auto@m  ">
                                                <img class="imgCrop uk-align-center imgRadius"  style="width: 90px;height: 90px" src="{{o.img}}" alt="your image" />
                                                
                                            </div>
                                            <div class="uk-width-expand@m  ">
                                                <div  uk-grid>
                                                    <div class="uk-width-1-2@m uk-width-1-2@s">
                                                        <a class="uk-link-text" href="{% url 'job_detail' o.job_name  o.job_id %}">{{o.name}}   </a>
                                                        
                                                        <!-- <h4>{{o.name}}  </h4> -->
                                                    </div>
                                                    <div class="uk-width-1-2@m uk-width-1-2@s ">
                                                        <div class="uk-margin uk-align-right">
                                                            <!-- <button  type="submit" class="uk-button uk-button-default  uk-button-small " >เชิญร่วมงาน</button>  -->
                                                            <span> <button  type="submit" class="uk-button uk-button-default uk-button-small " >บันทึก</button></span>
                                                        </div>
                                                        <!--  <button  type="submit" class="uk-button uk-button-default uk-align-right " >รายละเอียดเพิ่มเติม</button> -->
                                                    </div>
                                                </div>
                                                
                                                <!-- <button  type="submit" class="uk-button  " style="color: white;">ค้นหางาน</button> -->
                                                <br>
                                                <!-- <span class="glyphicon glyphicon-eye-close uk-margin-right" aria-hidden="true"> </span> -->
                                                <span class="uk-margin-right"><label class="">{{o.disability_cate}}</label></span>
                                                <span class="uk-margin-right uk-margin-left"><b ><i class="fa fa-money " aria-hidden="true"></i> </b> {{o.salary1}} - {{o.salary2}} บาท/เดือน</span>
                                                <span class=" uk-margin-left"><b><i class="fa fa-map-marker" aria-hidden="true"></i></b> {{o.province}}</span>
                                                
                                                <div uk-grid>
                                                    <div class="uk-width-1-2"> <p class=" ">{{o.detail}}</p></div>
                                                    <!-- <div  class="uk-width-1-2  uk-text-right "> <h1 class="score uk-margin-left">{{o.score}} %</h1></div> -->
                                                </div>
                                                
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-padding uk-background-muted uk-margin-left uk-margin-right" uk-grid>
                                            <div class="uk-width-auto@m  ">
                                                <img class="imgCrop uk-align-center imgRadius"  style="width: 90px;height: 90px" src="{{o.img}}" alt="your image" />
                                                
                                            </div>
                                            <div class="uk-width-expand@m  ">
                                                <div  uk-grid>
                                                    <div class="uk-width-1-2@m uk-width-1-2@s">
                                                        <a class="uk-link-text" href="{% url 'job_detail' o.job_name  o.job_id %}">{{o.name}}   </a>
                                                        
                                                        <!-- <h4>{{o.name}}  </h4> -->
                                                    </div>
                                                    <div class="uk-width-1-2@m uk-width-1-2@s ">
                                                        <div class="uk-margin uk-align-right">
                                                            <!-- <button  type="submit" class="uk-button uk-button-default  uk-button-small " >เชิญร่วมงาน</button>  -->
                                                            <span> <button  type="submit" class="uk-button uk-button-default uk-button-small " >บันทึก</button></span>
                                                        </div>
                                                        <!--  <button  type="submit" class="uk-button uk-button-default uk-align-right " >รายละเอียดเพิ่มเติม</button> -->
                                                    </div>
                                                </div>
                                                
                                                <!-- <button  type="submit" class="uk-button  " style="color: white;">ค้นหางาน</button> -->
                                                <br>
                                                <!-- <span class="glyphicon glyphicon-eye-close uk-margin-right" aria-hidden="true"> </span> -->
                                                <span class="uk-margin-right"><label class="">{{o.disability_cate}}</label></span>
                                                <span class="uk-margin-right uk-margin-left"><b ><i class="fa fa-money " aria-hidden="true"></i> </b> {{o.salary1}} - {{o.salary2}} บาท/เดือน</span>
                                                <span class=" uk-margin-left"><b><i class="fa fa-map-marker" aria-hidden="true"></i></b> {{o.province}}</span>
                                                
                                                <div uk-grid>
                                                    <div class="uk-width-1-2"> <p class=" ">{{o.detail}}</p></div>
                                                    <!-- <div  class="uk-width-1-2  uk-text-right "> <h1 class="score uk-margin-left">{{o.score}} %</h1></div> -->
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                </div>
                
            </div>
            
            
        </div>
    </div>
</div>
<br>
<script type="text/javascript">
$("#detail").css("display", "block");
$("#noti").css("display", "none");
$("#password").css("display", "none");
$(".click-detail").addClass( "active" );
$(".click-noti").removeClass("active");
$(".click-password").removeClass("active");
$(document).ready(function() {
$(".click-detail").click(function(){
$("#detail").css("display", "block");
$("#noti").css("display", "none");
$("#password").css("display", "none");
$(".click-detail").addClass( "active" );
$(".click-noti").removeClass("active");
$(".click-password").removeClass("active");
});
$(".click-noti").click(function(){
$("#detail").css("display", "none");
$("#noti").css("display", "block");
$("#password").css("display", "none");
$(".click-detail").removeClass( "active" );
$(".click-noti").addClass("active");
$(".click-password").removeClass("active");
});
$(".click-password").click(function(){
$("#detail").css("display", "none");
$("#noti").css("display", "none");
$("#password").css("display", "block");
$(".click-detail").removeClass( "active" );
$(".click-noti").removeClass("active");
$(".click-password").addClass("active");
});
});
</script>
{% endblock %}