{% extends 'base.html' %} {% load static %}{% load widget_tweaks %} {% block content %}
    <style>
    .errorlist {
    color: #EF5350;
    }
    input[type=text],
    input[type=password],
    input[type=email] {
    background-color: #FAFFBD;
    }
    .title {
    color: black;
    }
    .uk-button-default:hover {
    background-color: #FFBF00;
    color: white;
    }
    .uk-button-default {
    color: #FFBF00;
    }
    .active {
    /*background-color: #6ACAD1;*/
    background-color: #50E3B9;
    color: white;
    }
  
    .click-add {
    /*background-color: #6ACAD1;*/
    color: #FFBF00;
    font-weight: bold;
    }
    /*table>tbody>tr>a:hover {
    /*text-decoration: none;*/
   /* color: white;
    background-color: #50E3B9;
    }
     table>tbody>tr>:hover {
    text-decoration: none;
    color: white;
    background-color: #50E3B9;
    }
    #tableHover:hover{
  color: white;
    }
    td>a:hover{
        color: white;
    }*/
 /*   td:hover{
        background-color: #50E3B9;
        color: white;
    }
    table tr td a:hover {
        background-color: #50E3B9;
        color: white;
    }*/
 
 
    .divide {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFBF00;
    /*margin: 1em 0;*/
    padding: 0;
    }
    label {
    font-size: 14px;
    color: #9E9E9E;
    }
    #btn-inline,#p-inline{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    }
    </style>
    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div id="alertMsg" class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
<!-- <div class="uk-alert-success " uk-alert>
    <a class="uk-alert-close" uk-close></a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div> -->
<!-- <hr class="uk-box-shadow-medium "> -->
<div class="uk-background-muted nav-desktop" style="margin-top: -20px;">
    <br>
    
    <div class="uk-margin-auto" uk-grid>
        
        <div class="uk-width-auto@m  ">
            <div class="uk-container uk-text-center uk-table-small">
                <!-- <div class="uk-card uk-card-default uk-card-body uk-padding-small "> -->
                    <table class="uk-table uk-table-divider " style="   border: 1px solid #50E3B9;" >
                        
                        <tbody>
                            <tr >
                                <td class="click-about"><a class="uk-link-reset " href="" > ข้อมูลของฉัน</a></td>
                            </tr>
                            <tr>
                                <td class="click-billing"><a class="uk-link-reset " href="" > วิธีการเก็บเงิน</a></td>
                            </tr>
                            <tr>
                                <td class="click-password"><a class="uk-link-reset " href="" >พาสเวิร์ดและความปลอดภัย</a></td>
                                
                            </tr > 
                              <tr >
                            <td class="click-setting-noti"><a class="uk-link-reset " href=""> การตั้งค่าการแจ้งเตือน</a></td>
                            
                        </tr>  
                        
                     </tbody>
                    </table>
            <table class="uk-table uk-margin-remove-top" style="   border: 1px solid #50E3B9;margin-top: -20px;" >
                        
                        <tbody>
                         
                        <tr>
                        <td><a class="uk-link-reset " href="" > ออกจากระบบ</a></td>
                         </tr>
                     </tbody>
                    </table>
            
                <!-- </div> -->
            </div>
        </div>
            <div class="uk-width-expand@m ">
                <!-- <div class="uk-container"> -->
                <div class="uk-card uk-card-default uk-card-body uk-padding-small ">
                    <!--      <p style="color: #BDBDBD" class="uk-text-left">ค้นหา</p> -->
                    <ul class="uk-list uk-list-divider uk-text-center">
                        <li ><a class="uk-link-reset " href="">ข้อมูลของฉัน</a></li>
                        <li><a class="uk-link-reset" href="">วิธีการเก็บเงิน</a></li>
                        
                        <li><a class="uk-link-reset" href="">พาสเวิร์ดและความปลอดภัย</a></li>
                        <li><a class="uk-link-reset" href="">การตั้     งค่าการแจ้งเตือน</li>
                        <li><a class="uk-link-reset" href="{% url 'logout' %}">ออกจากระบบ</li>
                    </ul>
                    <!-- </div> -->
                    
                </div>
            </div>
</div>
</div>
<script type="text/javascript">
$("#alertMsg").fadeOut(5000);
if ($('#alerId').css('display') == 'block') {
swal("Success", "สมัครบัญชีผู้ใช้สำเร็จแล้ว", "success");
}
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "none");
$("#about").css("display", "block");
$("#coupon").css("display", "none");
$(".click-about").addClass( "active" );
$(".click-billing").removeClass("active");
$(".click-password").removeClass("active");
$(".click-setting-noti").removeClass("active");

// $(".click-add").removeClass("active");
$(document).ready(function() {
$('.icon-click').click(function() {
$("i", this).toggleClass("fa-angle-left fa-angle-down");
});
$(".click-about").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "block");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
$(".click-about").addClass( "active" );
$(".click-love").removeClass("active");
$(".click-review").removeClass("active");
$(".click-order").removeClass("active");
// $(".click-add").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-love").click(function(){
$("#love").css("display", "block");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "none");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
$(".click-love").addClass( "active" );
$(".click-about").removeClass("active");
$(".click-review").removeClass("active");
$(".click-order").removeClass("active");
// $(".click-add").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-order").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "block");
$("#review").css("display", "none");
// $("#add").css("display", "none");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
$(".click-order").addClass( "active" );
$(".click-about").removeClass("active");
$(".click-review").removeClass("active");
$(".click-love").removeClass("active");
// $(".click-add").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-review").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "block");
// $("#add").css("display", "none");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
$(".click-review").addClass( "active" );
$(".click-about").removeClass("active");
$(".click-order").removeClass("active");
$(".click-love").removeClass("active");
// $(".click-add").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-add").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "block");
$("#about").css("display", "none");
$("#coupon").css("display", "none");
// $(".click-add").addClass( "active" );
$(".click-about").removeClass("active");
$(".click-order").removeClass("active");
$(".click-love").removeClass("active");
$(".click-review").removeClass("active");
$(".click-coupon").removeClass("active");
});
$(".click-coupon").click(function(){
$("#love").css("display", "none");
$("#order").css("display", "none");
$("#review").css("display", "none");
// $("#add").css("display", "none");
$("#about").css("display", "none");
$("#coupon").css("display", "block");
// $(".click-add").removeClass( "active" );
$(".click-about").removeClass("active");
$(".click-order").removeClass("active");
$(".click-love").removeClass("active");
$(".click-review").removeClass("active");
$(".click-coupon").addClass("active");
});
});
</script>
{% endblock %}
<!--
<div class="profile-mobile ">
<br>
<div class="uk-card uk-card-default">
<div class="uk-card-body uk-margin-remove">
<h2 class="uk-heading-bullet" style="color: black">บัญชีของฉัน</h2>
<div uk-grid>
    <div class="uk-width-1-3@m uk-text-center">
        <div class="uk-margin-top">
            <ul class="uk-nav-primary uk-list-divider uk-text-left icon" uk-nav>
                <li class="uk-parent">
                    <a class="uk-link-reset icon-click " href=""> ข้อมูลส่วนตัว
                    <i class="fa fa-angle-left " style="float: right"></i></a>
                    <ul class="uk-nav-sub">
                        <li>
                            
                            <form method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <table class="uk-table ">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="uk-align-right">อีเมล</label>
                                            </td>
                                            <td>{{person.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="uk-align-right" for="">ชื่อผู้ใช้ </label>
                                            </td>
                                            <td> {{form.name|add_class:"uk-input"}} {% if form.errors.username %}
                                                <p style="margin-bottom: 10px">{{ form.errors.username }}
                                                <br> </p>
                                            {% else %}
                                            <br> {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="uk-align-right">ภาพโปรไฟล์</label>
                                            </td>
                                            <td>
                                                <div class="imgCrop">
                                                    <div> <img src=" ../{{person.picture.url}}" style="width: 150px;height: 140px;" class="inImg" /></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="uk-align-right">เลือกรูปภาพโปรไฟล์ </label>
                                            </td>
                                            <td>
                                                <div class="" uk-margin>
                                                    <div uk-form-custom="target: true">
                                                        {{form.image|add_class:"uk-input"}}
                                                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="uk-align-right" for="">เบอร์โทรศัพท์ </label>
                                            </td>
                                            <td>{{form.phone|add_class:"uk-input"}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="uk-align-right" for="">ที่อยู่ปัจจุบัน </label>
                                            </td>
                                            <td>{{form.address|add_class:"uk-input"}}</td>
                                        </tr>
                                        <tr>
                                            <td> </td>
                                            <td>
                                                <button style="color: white;" class="uk-button uk-width-1-1@s uk-margin-remove-bottom" type="submit">
                                                <h2>อัพเดท</h2></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </li>
                        
                    </ul>
                </li>
                <li class="uk-parent ">
                    <a class="uk-link-reset icon-click " href=""> ร้านอาหารโปรด
                    <i class="fa fa-angle-left " style="float: right"></i></a>
                    <ul class="uk-nav-sub">
                        
                        <table class="uk-table uk-table-hover uk-table-divider">
                            
                            <tbody>
                                
                                
                            </tbody>
                        </table>
                    </ul>
                </li>
                <li class="uk-parent ">
                    <a class="uk-link-reset icon-click " href=""> รีวิวของฉัน
                        
                        <li>
                            <div class="uk-card uk-card-default uk-card-body uk-margin ">
                                <article class="uk-comment">
                                    <header class="uk-comment-header uk-grid-medium uk-flex-middle " uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-comment-avatar " src="../{{picture}}" style="object-fit: cover;" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p class="comment"> {{review.comment}}!</p>
                                    </div>
                                </article>
                            </div>
                            
                        </li>
                        
                    </li>
                    <li class="uk-parent ">
                        <a class="uk-link-reset icon-click" href=""> ออเดอร์ของฉัน
                            
                            
                        </li>
                        <li class="uk-parent ">
                            <a class="uk-link-reset icon-click" href=""> คูปองของฉัน
                            <i class="fa fa-angle-left " style="float: right"></i></a>
                            
                            <ul class="uk-nav-sub">
                                
                            </ul>
                        </li>
                        
                        <li  >
                            <a class="uk-link-reset" href=""> ประวัติความหิว</a>
                            
                        </li>
                        
                        <li>
                            <a class="uk-link-reset " href="{% url 'logout' %}"> ออกจากระบบ
                            <i class="fa  fa-sign-out " style="float: right"></i></a>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</div> -->