{% extends 'base2.html' %}{% load static %} {% block content %}
 
    <!-- banner -->
    
    <!-- end banner -->
    <!-- <br>     -->
    <hr class="uk-box-shadow-medium ">
    <div class="container" id="home">
  <div class="uk-section uk-section-default">
        <div class="uk-container uk-text-center">
              
                <h1 class=" uk-text-center"> <i style="color:#2ECC71" class="fa fa-check-circle fa-3x" aria-hidden="true"></i></h1>
                  <h2 class="thai_font uk-text-center"> ยินดีด้วย  </h2 >
                 <h3 class="thai_font uk-text-center">คุณได้สมัครบัญชีสำเร็จแล้ว</h3>
                 <a href="{% url 'home'  %}">กลับหน้าแรก</a>
            </div>
        </div>
    </div>
{% endblock %}